$pyper-structured-menu-padding: 32px !default;
$pyper-structured-menu-gap: 2em !default;
$pyper-structured-menu-justify-content: flex-start !default;
$pyper-structured-menu-bg: $o-navbar-background !default;
$pyper-structured-menu-border-color: $o-border-color !default;

$pyper-structured-menu-content-color: $nav-link-color !default;
$pyper-structured-menu-content-bg: transparent !default;
$pyper-structured-menu-content-hover-color: inherit !default;
$pyper-structured-menu-content-hover-bg: $o-gray-100 !default;
$pyper-structured-menu-content-active-color: inherit !default;
$pyper-structured-menu-content-active-bg: $o-gray-200 !default;
$pyper-structured-menu-content-active-hover-color: inherit !default;
$pyper-structured-menu-content-active-hover-bg: $o-gray-300 !default;

$pyper-structured-menu-content-item-min-height: 140px !default;
$pyper-structured-menu-content-item-padding: 26px !default;
$pyper-structured-menu-content-item-gap: 1em !default;
$pyper-structured-menu-content-item-border-radius: 0 !default;

$pyper-structured-menu-content-item-icon-padding: 0 !default;
$pyper-structured-menu-content-item-icon-size: 32px !default;

$pyper-structured-menu-content-item-text-padding: 0 !default;
$pyper-structured-menu-content-item-text-min-width: 140px !default;
$pyper-structured-menu-content-item-text-width: 140px !default;

$pyper-structured-menu-content-item-name-font-size: 1rem !default;
$pyper-structured-menu-content-item-desc-font-size: 0.85rem !default;
