// Color
$o-white: #FFF !default;
$o-black: #000 !default;

$o-gray-50: #f9fafb !default;
$o-gray-100: #f3f4f6 !default;
$o-gray-200: #e5e7eb !default;
$o-gray-300: #d1d5db !default;
$o-gray-400: #9ca3af !default;
$o-gray-500: #6b7280 !default;
$o-gray-600: #4b5563 !default;
$o-gray-700: #374151 !default;
$o-gray-800: #1f2937 !default;
$o-gray-900: #111827 !default;

$o-extra-color: #374151 !default;
$o-extra-action-color: $o-white !default;

$o-opacity-disabled: .5 !default;
$o-opacity-muted: .76 !default;

$o-brand-odoo: $o-extra-color !default;
$o-brand-primary: $o-brand-odoo !default;
$o-brand-primary-dark: #20a99d !default;
$o-brand-secondary: #94a3b8 !default;
$o-brand-lightsecondary: $o-gray-100 !default;
$border-color: $o-gray-300 !default;

$o-success: $o-brand-primary !default;
$o-info: #3eafb0 !default;
$o-warning: #ffac00 !default;
$o-danger: #e06561 !default;

$o-action: $o-extra-action-color !default;
$o-main-text-color: $o-gray-700 !default;
$o-main-link-color: $o-gray-400 !default;
$o-main-color-muted: rgba($o-main-text-color, $o-opacity-muted) !default;

$o-mail-Chatter-minWidth: 540px !default;

// Typography
$font-size-base: 0.875rem !default;

// Component
$o-component-active-color: $o-gray-900 !default;
$o-component-active-bg: mix($o-action, $o-white, 10%) !default;
$o-component-active-border: $o-action !default;

// List group
$o-list-group-header-color: $o-gray-900 !default;
$o-list-footer-color: $o-gray-900 !default;
$o-list-footer-bg-color: transparent !default;
$o-list-footer-font-weight: 500 !default;

// Form
$o-input-padding-y: 1px !default;
$o-input-padding-x: 0 !default;
$o-input-border-required: $o-gray-900 !default;
$o-form-view-sheet-max-width: 100% !default;
$o-control-panel-background-color: $o-white !default;

// Badge
$o-badge-min-width: 2.7ch !default;

// Button
$btn-padding-y-sm: 0.1rem !default;
$btn-padding-x-sm:0.5rem !default;

// Kanban
$o-kanban-background : $o-gray-50 !default;
$o-kanban-inside-hgutter: 18px !default;
$o-kanban-group-padding: 18px !default;
$o-kanban-progressbar-height: 0.5rem !default;

$o-statusbar-height: 40px !default;

// Fields
$o-main-favorite-color: $o-brand-primary !default;

// Drawer
$o-drawer-item-padding-v: 11px !default;

// Cards
$card-border-color: $border-color !default;
