<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="contacts.menu_contacts"
        name="Customers"
    />

    <menuitem
        id="custom_contact_root"
        name="Customers"
        sequence="1"
        parent="contacts.menu_contacts"
    />

     <menuitem
        id="custom_customers_menu"
        name="Companies"
        sequence="1"
        parent="pyper_contact.custom_contact_root"
        action="pyper_contact.action_simple_customers"
    />

    <menuitem
        id="custom_contact_menu"
        name="Contacts"
        sequence="2"
        parent="pyper_contact.custom_contact_root"
        action="pyper_contact.action_simple_contacts"
    />
</odoo>