.o_control_panel {
    .o_drawer_toggler {
        .dropdown-toggle {
            margin: 0;
            border: none;
            user-select: none;
            background: transparent;
            font-size: 1em;
            color: var(--NavBar-entry-color, $o-navbar-entry-color);

            &:hover,
            &:focus {
                color: $o-main-text-color;
            }
        }
    }

    .o_control_panel_actions {
        gap: 0.25rem;

        > div {
            > .btn {
                white-space: nowrap;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .o_control_panel_actions {
            min-width: auto;
        }
    }

    @include media-breakpoint-up(xl) {
        .o_control_panel_actions {
            min-width: auto;
        }
    }
}
