// Color
$o-white: #FFF;
$o-black: #000;

$o-gray-50: #fafafa;
$o-gray-100: #f5f5f5;
$o-gray-200: #e5e5e5;
$o-gray-300: #d4d4d4;
$o-gray-400: #a3a3a3;
$o-gray-500: #737373;
$o-gray-600: #525252;
$o-gray-700: #404040;
$o-gray-800: #262626;
$o-gray-900: #171717;
$o-gray-950: #0a0a0a;

$o-extra-color: $o-gray-800;
$o-extra-action-color: $o-gray-300;
$link-color: $o-extra-color;

$o-opacity-disabled: .5;
$o-opacity-muted: .65;

$o-brand-odoo: $o-extra-color;
$o-brand-primary: $o-brand-odoo;
$o-brand-secondary: $o-gray-700;
$o-brand-lightsecondary: $o-gray-100;

// Background
$o-view-background-color: $o-white;
$o-webclient-background-color: $o-view-background-color;

// Text color
$body-color: $o-gray-900;
$headings-color: $body-color;
$o-main-color-muted: $o-gray-500;
$o-action: $o-gray-400;
$o-main-text-color: $body-color;
$o-main-link-color: $body-color;
$code-color: $o-brand-primary;

$list-group-color: $o-gray-600;
$list-group-active-color: $o-gray-800;
$list-group-active-bg: $o-gray-50;

// Shadow
$box-shadow-inset: none;

// Border
$border-radius: 5px;
$border-color: $o-gray-200;

$o-success: #31B753;
$o-info: #00B5DD;
$o-warning: #D39C04;
$o-danger: #FF4238;
$light: $o-gray-100;

$o-theme-text-colors: (
    "success": $o-success,
    "info": $o-info,
    "warning": $o-warning,
    "danger": $o-danger,
);

// Typography
$o-system-fonts: ('Archivo', Arial, sans-serif, "Apple Color Emoji");
$font-size-base: 0.875rem;

$o-headings-font-family: o-add-unicode-support-font(('Archivo', $o-system-fonts));

// Titles
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.125;

// Component
$o-component-active-color: $o-gray-100;
$o-component-active-bg: mix($o-action, $o-white, 10%);
$o-component-active-border: $o-action;

// Container
$container-size: 1320px;
$grid-gutter-width: 16px;

// List group
$o-list-group-header-color: $o-gray-100;
$o-list-footer-color: $o-gray-100;
$o-list-footer-bg-color: $o-view-background-color;
$o-list-footer-font-weight: 500;

// Control Panel
$o-control-panel-background-color: $o-view-background-color;
$o-control-panel-border-bottom: 1px solid $o-view-background-color;

// Form
$input-focus-bg: $o-gray-100;
$o-input-padding-y: 1px;
$o-input-padding-x: 1px;
$form-check-input-border: 1px solid $o-gray-500;
$o-form-view-sheet-max-width: 100%;
$slider-bg-color:$o-gray-700;
$slider-track-height: 4px;
$slider-thumb-height:16px;
$progress-circular-underlay-color: $o-gray-100;
$o-statusbar-height: 42px;

// Badge
$badge-border-radius: $border-radius;
$o-badge-min-width: 2.7ch;

// Button
$btn-border-radius:  $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;

$input-btn-padding-x: 0.5rem;

$btn-padding-x: 1rem;
$btn-padding-x-sm:0.4rem;

$o-btns-bs-override: (
    'primary': (
        background: $o-brand-primary,
        border: $o-brand-primary,
        color: $o-white,
        hover-background: darken($o-brand-primary, 5%),
        hover-border: darken($o-brand-primary, 10%),
        hover-color: $o-white,
        active-background: mix($o-brand-primary, $o-white, 10%),
        active-border: $o-brand-primary,
        active-color:$o-brand-primary,
    ),
    'secondary': (
        background: $o-gray-100,
        border: $o-gray-100,
        color: $o-gray-700,
        hover-background: $o-gray-200,
        hover-border: $o-gray-200,
        hover-color: $o-gray-800,
        active-background: $o-brand-primary,
        active-border: $o-gray-200,
        active-color: $o-white,
    ),
    'light': (
        background: $o-gray-100,
        border: $o-gray-100,
        color: $o-gray-800,
        hover-background: $o-gray-200,
        hover-border: $o-gray-200,
        hover-color: $o-gray-900,
        active-background: $o-component-active-bg,
        active-border: $o-gray-200,
        active-color: $o-gray-800,
    ),
    'link': (
        background: transparent,
        border: transparent,
        color: $o-gray-800,
        hover-background: $o-gray-200,
        hover-border: transparent,
        hover-color: $o-gray-900,
        active-background: $o-component-active-bg,
        active-border: transparent,
        active-color: $o-gray-800,
    ),
);

$o-btns-bs-outline-override: (
    'primary': (
        background: $o-view-background-color,
        border: $o-gray-200,
        color: $o-brand-primary,
        hover-background: $o-brand-primary,
        hover-border: $o-brand-primary,
        hover-color: $o-white,
        active-background: mix($o-extra-action-color, $o-white, 10%),
        active-border: $o-extra-action-color,
        active-color: $o-brand-primary,
    ),
    'secondary': (
        background: $o-view-background-color,
        border: $o-gray-200,
        color: $o-gray-700,
        hover-background: $o-gray-200,
        hover-border: $o-gray-300,
        hover-color: $o-gray-800,
        active-background: mix($o-extra-action-color, $o-white, 10%),
        active-border: $o-extra-action-color,
        active-color: $o-gray-900,
    ),
);

// Kanban
$o-kanban-background : $o-white;
$o-kanban-background-hover: $o-gray-200;
$kanban-card-background: $o-gray-50;
$kanban-card-background-hover: $o-gray-100;
$o-kanban-inside-hgutter: 12px;
$o-kanban-group-padding: 12px;
$o-kanban-progressbar-height: 0.5rem;


// Fields
$o-main-favorite-color: $o-brand-primary;

// Cards
$card-bg: $o-white;
$card-border-color: $o-gray-200;
$card-border-width:1px;
$card-border-radius:$border-radius;
$card-inner-border-radius: $border-radius;
$card-spacer-y: 20px;
$card-spacer-x: $card-spacer-y;
$card-cap-bg: $card-bg;

// Dropdown
$dropdown-bg: $o-white;
$dropdown-border-width: 0;
$dropdown-link-hover-color: $o-brand-primary;
$dropdown-link-hover-bg: $o-gray-100;
$dropdown-color: $o-gray-800 !important;
$dropdown-header-color: $dropdown-color;
$dropdown-border-color: $o-view-background-color;
$dropdown-border-radius: $border-radius;
$o-navbar-dropdown-menu-border-radius: $dropdown-border-radius;
$o-navbar-dropdown-menu-border-top: 0;
$dropdown-padding-y:6px;
$dropdown-item-padding-x: 1rem;
$dropdown-header-padding: 10px $dropdown-item-padding-x;
$dropdown-item-padding-y: 4px;
$dropdown-header-color: $o-main-color-muted;

// Navbar
$o-navbar-height: 60px;
$o-navbar-padding-v: 14px;

$o-navbar-entry-color: $o-gray-400;
$o-navbar-entry-color--hover: $o-brand-primary;
$o-navbar-entry-bg--hover: $o-view-background-color;
$o-navbar-entry-color--active: $o-brand-primary;
$o-navbar-entry-bg--active: $o-view-background-color;

// Nav tabs
$nav-tabs-border-width: 0;

// Drawer
$o-drawer-width: 260px;
$o-drawer-item-font-size:$font-size-base;
$o-drawer-item-icon-width: 20px;
$o-drawer-item-color: $o-gray-500;
$o-drawer-item-hover-color: $o-brand-primary;
$o-drawer-item-icon-color: $o-drawer-item-color;
$o-drawer-item-padding-v: 4px;
$o-drawer-item-nav-margin-h: 10px;
$o-drawer-item-padding-h: 20px;
$o-drawer-item-icon-gap: 10px;
$o-drawer-mini-width: 50px;
$o-drawer-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
$o-drawer-item-nav-margin-bottom:0px;
$o-drawer-bg: $o-gray-100;
$o-drawer-border-color: transparent;
$o-drawer-item-active-color: $o-brand-primary;
$o-drawer-item-active-bg: $o-gray-200;
$o-drawer-item-hover-bg: $o-gray-200;
$o-drawer-item-icon-border-radius: 0;
$o-drawer-item-icon-border-radius:$border-radius;

$o-drawer-item-caret-size: 12px;
$o-drawer-item-caret-color: $o-gray-400;

$o-drawer-subitem-margin-bottom: 0;
$o-drawer-subitem-depth-next: 10px;
$o-drawer-subitem-block-padding-v: 4px;
$o-drawer-subitem-active-color:$o-drawer-item-active-color;
$o-drawer-subitem-active-bg:$o-drawer-item-active-bg;
$o-drawer-subitem-padding-v: $o-drawer-item-padding-v;

$o-drawer-category-label-color: $o-gray-400;
$o-drawer-category-label-margin-bottom: 5px;
$o-drawer-category-label-padding-h: $o-drawer-item-padding-h;
$o-drawer-category-label-margin-top: 12px;

$o-drawer-header-height: $o-navbar-height;
$o-drawer-header-padding-x: 20px;
$o-drawer-header-extra-padding-x: 0;
$o-drawer-header-user-block-bg: $o-view-background-color;
$o-drawer-header-action-btn-color: $o-drawer-item-icon-color;
$o-drawer-header-action-btn-hover-color: $o-black;
$o-drawer-header-action-btn-font-size: 1.25rem;
$o-drawer-header-margin-top:0;
$o-drawer-header-bottom-margin: 0;

$o-drawer-messages-block-bg: $o-drawer-bg;
$o-drawer-activity-title-color: $o-gray-800;
$o-drawer-header-activity-btn-border: none;
$o-drawer-header-activity-btn-border-hover: none;

$o-drawer-user-menu-block-avatar-height: 26px;
$o_drawer--closer-color: $o-gray-300;
$o_drawer--closer-color-hover: $o-main-text-color;

// Chatter
$p-mail-message-bubble-self-authored-color: $o-white!important;
$p-mail-message-bubble-self-authored-bg: $o-brand-primary;
$o-mail-Chatter-minWidth: 400px;
$o-mail-Avatar-size: 20px;
$o-mail-Message-sidebarWidth: 28px;
$p-mail-message-bubble-bg: $o-gray-100;
$p-mail-message-bubble-color: $o-gray-800;

// Accordion
$accordion-button-padding-y: 1.5rem;
$accordion-button-color: $o-black;
$accordion-button-active-color: $accordion-button-color;
$accordion-button-bg: $o-white;
$accordion-button-active-bg:$accordion-button-bg;

// Table
$table-hover-bg: $o-gray-50;
$table-cell-padding-y: 0.50rem;
