// Color
$o-white: #FFF !default;
$o-black: #000 !default;

$o-gray-50: #fafafa !default;
$o-gray-100: #f5f5f5 !default;
$o-gray-200: #e5e5e5 !default;
$o-gray-300: #d4d4d4 !default;
$o-gray-400: #a3a3a3 !default;
$o-gray-500: #737373 !default;
$o-gray-600: #525252 !default;
$o-gray-700: #404040 !default;
$o-gray-800: #262626 !default;
$o-gray-900: #171717 !default;
$o-gray-950: #0a0a0a !default;

$o-extra-action-color: $o-gray-300 !default;
$link-color: $o-gray-800 !default;

$o-opacity-disabled: .5 !default;
$o-opacity-muted: .65 !default;

$o-brand-primary: #1f2729 !default;
$o-brand-secondary: $o-gray-700 !default;
$o-brand-lightsecondary: $o-gray-100 !default;
$o-brand-odoo: $o-brand-primary !default;

$primary-light: lighten($o-brand-primary, 76%) !default;
$primary-dark: darken($o-brand-primary, 20%) !default;

// Background
$o-view-background-color: $o-white !default;
$o-webclient-background-color: $o-view-background-color !default;

// Text color
$body-color: $o-gray-900 !default;
$headings-color: $body-color !default;
$o-main-color-muted: $o-gray-500 !default;
$o-action: $o-gray-400 !default;
$o-main-text-color: $body-color !default;
$o-main-link-color: $body-color !default;
$code-color: $o-brand-primary !default;

$list-group-color: $o-gray-600 !default;
$list-group-active-color: $o-gray-800 !default;
$list-group-active-bg: $o-gray-50 !default;

// Shadow
$box-shadow-inset: none !default;

// Border
$border-radius: 5px !default;
$border-color: $o-gray-200 !default;

$o-success: #31B753 !default;
$o-info: #00B5DD !default;
$o-warning: #D39C04 !default;
$o-danger: #FF4238 !default;
$light: $o-gray-100 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
    'primary-light': $primary-light,
    'primary-dark': $primary-dark,
), $theme-colors);

$o-theme-text-colors: () !default;
$o-theme-text-colors: map-merge((
    'success': $o-success,
    'info': $o-info,
    'warning': $o-warning,
    'danger': $o-danger,
), $o-theme-text-colors);

// Typography
$o-system-fonts: ('Inter', Arial, sans-serif, 'Apple Color Emoji') !default;
$font-size-base: 0.875rem !default;

$o-headings-font-family: o-add-unicode-support-font(('Inter', $o-system-fonts)) !default;

// Titles
$h1-font-size: $font-size-base * 2 !default;
$h2-font-size: $font-size-base * 1.5 !default;
$h4-font-size: $font-size-base * 1.125 !default;

// Component
$o-component-active-color: $o-gray-100 !default;
$o-component-active-bg: mix($o-action, $o-white, 10%) !default;
$o-component-active-border: $o-action !default;

// Container
$container-size: 1320px !default;
$grid-gutter-width: 16px !default;

// List group
$o-list-group-header-color: $o-gray-100 !default;
$o-list-footer-color: $o-gray-100 !default;
$o-list-footer-bg-color: $o-view-background-color !default;
$o-list-footer-font-weight: 500 !default;

// Navbar
$o-navbar-height: 48px !default;
$o-navbar-padding-v: 10px  !default;
$o-navbar-border-bottom: 1px solid $o-gray-200 !default;

$o-navbar-entry-color: $o-gray-400 !default;
$o-navbar-entry-color--hover: $o-gray-800 !default;
$o-navbar-entry-bg--hover: $o-view-background-color !default;
$o-navbar-entry-color--active: $o-brand-primary !default;
$o-navbar-entry-bg--active: $o-view-background-color !default;

// Nav
$notebook-nav-link-border-radius: 5px !default;
$notebook-nav-link-active-bg: $o-gray-100 !default;

// Nav tabs
$nav-tabs-border-width: 0 !default;

// Control Panel
$o-control-panel-background-color: $o-view-background-color !default;
$o-control-panel-border-bottom: $o-navbar-border-bottom !default;

// Form
$input-focus-bg: $o-gray-100 !default;
$o-input-padding-y: 1px !default;
$o-input-padding-x: 1px !default;
$form-check-input-border: 1px solid $o-gray-200 !default;
$o-form-view-sheet-max-width: 100% !default;
$slider-bg-color:$o-gray-700 !default;
$slider-track-height: 4px !default;
$slider-thumb-height:16px !default;
$progress-circular-underlay-color: $o-gray-100 !default;
$o-statusbar-height: 42px !default;
$o-statusbar-arrow-width:0 !default;

// Badge
$badge-border-radius: $border-radius !default;
$o-badge-min-width: 2.7ch !default;

// Button
$btn-border-radius:  $border-radius !default;
$btn-border-radius-sm: $border-radius !default;
$btn-border-radius-lg: $border-radius !default;

$input-btn-padding-x: 0.5rem !default;

$btn-padding-x: 0.6rem !default;
$btn-padding-x-sm: 0.4rem !default;
$btn-padding-y: 0.3rem !default;
$btn-line-height: 1.6 !default;

$o-btns-bs-override: () !default;
$o-btns-bs-override: map-merge((
    'primary': (
        background: $o-brand-primary,
        border: $o-brand-primary,
        color: $o-white,
        hover-background: lighten($o-brand-primary, 5%),
        hover-border: lighten($o-brand-primary, 5%),
        hover-color: $o-white,
        active-background: lighten($o-brand-primary, 10%),
        active-border: lighten($o-brand-primary, 10%),
        active-color: $o-white,
    ),
    'secondary': (
        background: $o-gray-100,
        border: $o-gray-100,
        color: $o-gray-700,
        hover-background: $o-gray-200,
        hover-border: $o-gray-200,
        hover-color: $o-gray-800,
        active-background: $o-brand-primary,
        active-border: $o-gray-200,
        active-color: $o-white,
    ),
    'light': (
        background: $o-gray-100,
        border: $o-gray-100,
        color: $o-gray-800,
        hover-background: $o-gray-200,
        hover-border: $o-gray-200,
        hover-color: $o-gray-900,
        active-background: $o-component-active-bg,
        active-border: $o-gray-200,
        active-color: $o-gray-800,
    ),
    'link': (
        background: transparent,
        border: transparent,
        color: $o-gray-800,
        hover-background: $o-gray-200,
        hover-border: transparent,
        hover-color: $o-gray-900,
        active-background: $o-component-active-bg,
        active-border: transparent,
        active-color: $o-gray-800,
    ),
), $o-btns-bs-override);

$o-btns-bs-outline-override: () !default;
$o-btns-bs-outline-override: map-merge((
    'primary': (
        background: $o-view-background-color,
        border: $o-gray-200,
        color: $o-brand-primary,
        hover-background: $o-brand-primary,
        hover-border: $o-brand-primary,
        hover-color: $o-white,
        active-background: mix($o-extra-action-color, $o-white, 10%),
        active-border: $o-extra-action-color,
        active-color: $o-brand-primary,
    ),
    'secondary': (
        background: $o-view-background-color,
        border: $o-gray-200,
        color: $o-gray-700,
        hover-background: $o-gray-200,
        hover-border: $o-gray-300,
        hover-color: $o-gray-800,
        active-background: mix($o-extra-action-color, $o-white, 10%),
        active-border: $o-extra-action-color,
        active-color: $o-gray-900,
    ),
), $o-btns-bs-outline-override);

// Kanban
$o-kanban-background : $o-white !default;
$o-kanban-background-hover: $o-gray-200 !default;
$o-kanban-inside-hgutter: 12px !default;
$o-kanban-group-padding: 12px !default;
$o-kanban-progressbar-height: 0.5rem !default;
$kanban-card-background: $o-gray-50 !default;
$kanban-card-background-hover: $o-gray-100 !default;

// Fields
$o-main-favorite-color: $o-brand-primary !default;

// Cards
$card-bg: $o-white !default;
$card-border-color: $o-gray-200 !default;
$card-border-width: 1px !default;
$card-border-radius: $border-radius !default;
$card-inner-border-radius: $border-radius !default;
$card-spacer-y: 20px !default;
$card-spacer-x: $card-spacer-y !default;
$card-cap-bg: $card-bg !default;

// Dropdown
$dropdown-bg: $o-white !default;
$dropdown-border-width: 0 !default;
$dropdown-link-hover-color: $o-gray-900 !default;
$dropdown-link-hover-bg: $o-gray-100 !default;
$dropdown-color: $o-gray-800 !important !default;
$dropdown-header-color: $dropdown-color !default;
$dropdown-border-color: $o-view-background-color !default;
$dropdown-border-radius: $border-radius !default;
$o-navbar-dropdown-menu-border-radius: $dropdown-border-radius !default;
$o-navbar-dropdown-menu-border-top: 0 !default;
$dropdown-padding-y: 6px !default;
$dropdown-item-padding-x: 1rem !default;
$dropdown-header-padding: 10px $dropdown-item-padding-x !default;
$dropdown-item-padding-y: 4px !default;
$dropdown-header-color: $o-main-color-muted !default;

// Drawer
$o-drawer-width: 260px !default;
$o-drawer-mini-width: 50px !default;
$o-drawer-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1) !default;
$o-drawer-bg: $o-gray-100 !default;
$o-drawer-border-color: $o-gray-200 !default;

$o-drawer-app-name-color: $o-main-text-color !default;
$o-drawer-app-border-bottom-color: $o-gray-200 !default;

$o-drawer-item-font-size: $font-size-base !default;
$o-drawer-item-icon-width: 20px !default;
$o-drawer-icon-mini-width: 22px !default;
$o-drawer-item-color: $o-gray-500 !default;
$o-drawer-item-hover-color: $o-drawer-item-color !default;
$o-drawer-item-icon-color: $o-drawer-item-color !default;
$o-drawer-item-padding-v: 4px !default;
$o-drawer-item-padding-h: 14px !default;
$o-drawer-item-icon-gap: 8px !default;

$o-drawer-item-active-color: $primary-dark !default;
$o-drawer-item-active-bg: $primary-light !default;
$o-drawer-item-hover-bg: $o-gray-200 !default;

$o-drawer-item-caret-size: 12px !default;
$o-drawer-item-caret-color: $o-gray-400 !default;

$o-drawer-item-nav-margin-h: 10px !default;
$o-drawer-item-nav-mini-margin-h: 7px !default;
$o-drawer-item-nav-margin-bottom: 0px !default;

$o-drawer-subitem-margin-bottom: 0 !default;
$o-drawer-subitem-depth-next: 10px !default;
$o-drawer-subitem-block-padding-v: 4px !default;
$o-drawer-subitem-active-color: $o-gray-900 !default;
$o-drawer-subitem-active-bg: transparent !default;
$o-drawer-subitem-padding-v: $o-drawer-item-padding-v !default;

$o-drawer-category-label-color: $o-gray-400 !default;
$o-drawer-category-label-margin-bottom: 5px !default;
$o-drawer-category-label-padding-h: 20px !default;
$o-drawer-category-label-margin-top: 12px !default;

$o-drawer-header-height: $o-navbar-height !default;
$o-drawer-header-padding-x: $o-drawer-category-label-padding-h !default;
$o-drawer-header-extra-padding-x: 0 !default;
$o-drawer-header-user-block-bg: $o-view-background-color !default;
$o-drawer-header-action-btn-color: $o-drawer-item-icon-color !default;
$o-drawer-header-action-btn-hover-color: $o-black !default;
$o-drawer-header-action-btn-font-size: 1.25rem !default;
$o-drawer-header-margin-top: 0 !default;
$o-drawer-header-bottom-margin: 0 !default;
$o-drawer-header-activity-btn-border: none !default;
$o-drawer-header-activity-btn-border-hover: none !default;

$o-drawer-activity-title-color: $o-gray-800 !default;

$o-drawer-messages-block-bg: $o-drawer-bg !default;

$o-drawer-user-menu-block-avatar-height: 26px !default;

$o-drawer-closer-color: $o-gray-300 !default;
$o-drawer-closer-color-hover: $o-main-text-color !default;

$o-drawer-quick-action-bg: rgba(255,255,255,0.90) !default;
$o-drawer-quick-action-bg-hover: $o-white !default;
$o-drawer-quick-action-border: $o-drawer-quick-action-bg !default;
$o-drawer-quick-action-color: $body-color !default;
$o-drawer-quick-action-zone-padding-h: 10px !default;

// Accordion
$accordion-button-padding-y: 1.5rem !default;
$accordion-button-color: $o-black !default;
$accordion-button-active-color: $accordion-button-color !default;
$accordion-button-bg: $o-white !default;
$accordion-button-active-bg:$accordion-button-bg !default;

// Table
$table-hover-bg: $o-gray-50 !default;
$table-cell-padding-y: 0.50rem !default;

// Modal
$modal-header-border-width: 0 !default;
