* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
}

.fs-7 {
    font-size: 0.875rem;
}

.fw-bold {
    font-weight: 500 !important;

    > input,
    .fw-bold textarea {
        font-weight: 500;
    }
}

small, .small {
    font-size: 0.70rem;
}

.task_list [name="is_completed"] {
    width: 1px;
}

.contact-card {
    .o_inner_group {
        gap: 4px 16px;
        margin-bottom: 0;
    }
}

.card-footer {
    border-top: none !important;
    padding-top: 0 !important;
}

.o_cp_switch_buttons {
    .o_switch_view {
        border-width: 1px;
        border-color: $o-gray-200;
        background-color: transparent;
    }

    .o_switch_view.active {
        background-color: $o-black;
        color: #fff;
        border-color: $o-black;
    }
}

.o_search_panel {
    background-color: $o-white !important;

    .o_search_panel_category_value {
        background-color: $o-white !important;

        .list-group-item {
            background-color: $o-white !important;
        }
    }
}

.cp_btn, .o_back_button {
    width: 34px;
    height: 34px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;

    &.active{
        background-color: $o-gray-100 !important;
        color:$body-color !important;
    }
}

$t-label-font-size: 12px;

// Form
input[type=range] {
    border-radius: 5px;
}

.o_form_sheet {
    padding-bottom: 0 !important;
    animation: fadeIn 0.4s;

    .o_notebook {
        > .tab-content > .tab-pane {
            padding-top: 24px;
            padding-bottom: 24px;
        }

        .o_notebook_headers {
            margin: 0 !important;
        }

        .nav-item {
            position: relative;
            font-size: 0.875rem;
        }

        $notebook-nav-link-border-radius: 20px !default;
        $notebook-nav-link-active-bg: transparent !default;

        .nav-link {
            color: $o-gray-600;
            padding: 0.25rem 0.75rem;
            border-radius: $notebook-nav-link-border-radius;
            border: 1px solid transparent;
        }

        .nav-link.active {
            color: $o-black;
            font-weight: 600;
            border: 1px solid $o-gray-200;
            background-color: $notebook-nav-link-active-bg;
        }
    }
}

.btn-quick {
    width: 54px;
    height: 54px;
    display: flex;
    border-radius: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    font-size: 0.6rem;
    font-weight: 400;
    position: relative;

    i {
        font-size: 1.4125rem;
        margin-bottom: -1px;
    }
}

i.btn-quick-counter {
    font-size: 0.5rem !important;
}

.text-bg-success {
    color: $o-white !important;
}

.bg-danger {
    background-color: #e06561 !important;
}

.o_form_sheet_bg.bg-white {
    .o_form_sheet {
        background-color: $o-white;
    }
}

.o_horizontal_separator {
    box-shadow: none !important;
    font-size: $h3-font-size;
    margin-top: 12px !important;
    margin-bottom: 6px !important;
    color: $o-main-link-color;
    text-transform: initial !important;
    font-weight: bold;
}

.o_form_view {
    .oe_title {
        max-width: 100% !important;

        h1,
        .h1 {
            .o_field_widget {
                font-weight: 600 !important;
            }
        }
    }

    .o_inner_group {
        --columns: 1;
        gap: map-get($spacers, 1) $o-horizontal-padding;
        margin-bottom: map-get($spacers, 1);
    }

    .o_notebook {
        .nav {
            padding: 0 var(--notebook-padding-x, 0) !important;
        }
    }
}

.o_form_sheet {
    .o-form-buttonbox {
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .contact_avatar {
        width: 70px;
        height: 70px;
    }

    .o_notebook {
        .o_notebook_headers {
            margin: 0 var(--notebook-margin-x, 0) !important;
            border-bottom: 1px solid $o-gray-200;
        }

        .nav-link {
            border: none !important;

            &.active {
                background-color: transparent !important;
                color: $o-gray-800;
                font-weight: 600;

                &:after {
                    content: "";
                    height: 1px;
                    width: 100%;
                    background-color: $o-brand-primary;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

            }
        }
    }
}

.o_statusbar_status {
    .btn {
        line-height: 28px;
        margin-right: -1px;
        border-width: 1px;
        border-style: solid;

        &:not(.o_arrow_button_current) {
            background-color: $o-white !important;
            border-color: $o-gray-200;
        }

        &:hover {
            background-color: $o-gray-100 !important;
        }

        &:before, &:after {
            display: none !important;
        }
    }
}

.document_type_tree {
    .o_list_record_selector {
        max-width: 34px !important;
    }

    [data-name="sequence"] {
        max-width: 34px !important;
    }

    [data-name="is_mandatory"] {
        max-width: 100px !important;
    }
}

.badge {

    &.badge-count {
        cursor: pointer;
    }

    > .o_field_widget {
        margin-bottom: 0;
    }

    &.badge-sm {
        padding-left: 0;
        padding-right: 0;
    }

    .dropdown-menu {
        line-height: var(--body-line-height) !important;
    }
}

.o_field_many2one_avatar_user {
    .o_avatar {
        img {
            border-radius: 100% !important;
        }
    }
}

.o_field_many2one_selection {
    border-radius: $border-radius !important;
}

.o_field_html {
    a:not(.btn) {
        color: $o-black !important;
    }


    ul.o_checklist {
        > li {
            line-height: 2;
        }

        > li.o_checked::before {
            color: $o-brand-primary;
        }

        > li:not(.oe-nested)::before {
            left: -32px;
            height: 22px;
            width: 22px;
            top: 6px;
            border: 1px solid $o-gray-300;
            border-radius: 0.50rem;
        }
    }
}

.zone-kendama {
    background-color: $o-gray-50;
    border-radius: $border-radius;
}

.badge-sm {
    max-width: 120px;

    .o_field_many2one_selection {
        cursor: pointer;
        background-color: $o-gray-50;
        border-radius: $border-radius !important;

        .o-autocomplete--input {
            padding: 0 !important;
            cursor: pointer;
        }

        .o_dropdown_button {
            visibility: visible !important;
            color: $o-gray-700;
            top: 0
        }

        &:hover {
            background-color: $o-gray-100 !important;

            .o_dropdown_button {
                color: $o-gray-800;
            }
        }
    }

    .o_badge_icon, .o_input_dropdown {
        font-size: 12px;
    }

    .o_external_button {
        visibility: visible !important;
        padding-right: 0;
        font-size: 12px;
    }
}

.bg-success-light {
    background-color: #dff6eb !important;
}

.desk_activities_kanban {
    .o_kanban_record {
        width: 100% !important;
    }
}

.flow_global_list {
    .o_priority_star {
        color: inherit !important;
    }

    .o_priority_star.fa-star-o {
        color: #ccc !important;
    }
}

.o_form_sheet_full ul.o_checklist > li:not(.oe-nested)::before {
    border-color: $o-gray-300;
    border-radius: 0.5rem;
}

.o-mail-AttachmentImage {
    overflow: hidden;
    border-radius: $border-radius;
}

.flow-info-zone {
    background-color: $o-gray-50;
    border-radius: $border-radius;
    padding: 1rem;
}

.o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):before,
.o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):before,
.o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):after,
.o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_first):after,
.o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):before,
.o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):before,
.o_field_statusbar > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):after,
.o_field_statusbar_duration > .o_statusbar_status > .o_arrow_button:not(.d-none):not(.o_last):after {
    right: -0.50em;
    border-top: 17px solid transparent;
    border-bottom: 16px solid transparent;
    border-left-width: 0.50em;
}

.o_drawer {
    .o_drawer--menu-item-children {
        animation-duration: 0.2s;
        animation-fill-mode: both;
        animation-name: fadeInLeftLight;
    }
}

.note-editable {
    min-height: 120px !important;

    .alert {
        line-height: inherit !important;
    }

    hr {
        background-color: $o-gray-300;
        height: 1px;
    }

    .table {
        td {
            border-width: 1px;
            border-color: $o-gray-300;
        }
    }
}

.dropdown-menu {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

// Table

.table {
    > :not(caption) {
        > * {
            > .o_list_record_selector {
                //padding-right: 0;

                .form-check {
                    padding-left: 1.3em;

                    .form-check-input {
                        margin-left: -1.3em;
                    }
                }
            }

            > .o_handle_cell {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.o_list_renderer {
    .o_list_table {
        tbody {
            > tr {
                > td.o_list_number:not(.o_list_record_selector).o_handle_cell {
                    text-align: center;
                }
            }
        }
    }
}

.o_data_row.o_data_row_selected {
    > .o_data_cell {
        border-bottom-width: 0 !important;
    }
}

.o_progressbar {
    .o_progress {
        border-radius: 0.5rem;
    }
}

.sub-control-panel {
    padding-top: 0.75rem;
    padding-bottom: 0.5rem;
}

.o-mail-DiscussSidebar {
    border-radius: 0 $border-radius 0 0;
    background-color: $o-gray-50 !important;
}

.o-mail-Discuss-content {
    .o-mail-Composer-input {
        background-color: $o-gray-50 !important;
    }
}

.o_setting_container {
    .settings_tab {
        border-radius: $border-radius;
        background-color: transparent !important;

        div.tab {
            font-size: 15px !important;
            border-radius: $border-radius;

            &.selected {
                box-shadow: none !important;
                background-color: $o-gray-100 !important;
            }

            div.icon {
                display: none !important;
            }
        }

    }

    .app_settings_block {
        padding-left: 2rem;

        h2 {
            padding-left: 16px !important;
            border-radius: $border-radius;
            background-color: $o-gray-50 !important;
        }
    }
}

.o_datetime_picker .o_current, .o_datetime_picker .o_selected {
    color: $o-gray-700 !important;
}

.o_pager {
    .btn-outline-primary {
        border-color: transparent !important;
    }
}

.o_field_many2many_tags {
    .o_tag {
        border-radius: 20px !important;
    }
}

.dropdown-divider {
    border-color: $o-gray-200 !important;
}

// Content horizontal padding

.o_content {
    > .o_list_renderer,
    > .o_kanban_view,
    > .o_calendar_view,
    > .o_pivot_view,
    > .o_graph_view,
    > .o_activity_view {
        margin-left: $o-horizontal-padding;
        margin-right: $o-horizontal-padding;
    }

    > .container-fluid {
        padding-left: $o-horizontal-padding;
        padding-right: $o-horizontal-padding;

        &.border-bottom {
            border-bottom: none !important;
        }
    }
}

$content-padding-breakpoints: (
    xs: $o-horizontal-padding,
    sm: $o-horizontal-padding,
    md: 1rem,
    lg: 1rem,
    xl: 1rem,
    xxl: 1rem
);

@each $name, $padding in $content-padding-breakpoints {
    @include media-breakpoint-up($name) {
        .o_main_navbar {
            padding-left: calc(#{$padding} - #{$o-horizontal-padding});
            padding-right: calc(#{$padding} - #{$o-horizontal-padding});
        }

        .o_control_panel_main,
        .o_content:not(.modal-body .o_content),
        .sub-control-panel {
            padding-left: calc(#{$padding} - #{$o-horizontal-padding});
            padding-right: calc(#{$padding} - #{$o-horizontal-padding});
        }

        .modal-body {
            .o_control_panel_main {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .o_content {
            > .o_list_renderer,
            > .o_kanban_view,
            > .o_calendar_view,
            > .o_calendar_container,
            > .o_pivot_view,
            > .o_graph_view,
            > .o_graph_renderer,
            > .o_activity_view {
                margin-left: calc(#{$padding} - #{$o-horizontal-padding});
                margin-right: calc(#{$padding} - #{$o-horizontal-padding});
            }
        }

        .o-settings-form-view {
            .o_content {
                > .o_form_renderer {
                    margin-left: calc(#{$padding} - #{$o-horizontal-padding});
                    margin-right: calc(#{$padding} - #{$o-horizontal-padding});
                }
            }
        }
    }
}

.o_field_statusbar {
    > .o_statusbar_status {
        > .o_arrow_button:not(.d-none) {
            padding-left: $o-horizontal-padding;
        }
    }
}

body:not(.o_touch_device) {
    .o_field_phone:not(:hover):not(:focus-within) {
        input:not(:hover) ~ a:not(.o_field_phone_sms) {
            display: flex !important;
        }
    }
}

body:not(.o_touch_device) {
    .o_field_phone {
        input ~ a.o_field_phone_sms {
            display: none !important;
        }
    }
}

.o_phone_form_link {
    padding: 2px 4px;
    border-radius: $border-radius;
    border: 1px solid $o-gray-300;

    &:hover {
        background-color: $o-brand-primary;
        color: #fff;
        border-color: $o-brand-primary;
    }
}

.o_searchview:focus-within + .o-dropdown .o_searchview_dropdown_toggler {
    border-color: $o-gray-200 !important;
}

.o_list_selection_box {
    .list-group-item {
        border-radius: $btn-border-radius !important;
        background-color: transparent;

        a.o_list_unselect_all {
            width: 24px;
            height: 24px;
            padding: 0;
            line-height: 22px;
            font-size: 12px;
            margin: 0 5px;
            border-radius: 100%;
        }

        &.active {
            border-color: $o-gray-200 !important;
        }
    }
}

.o-command-QueueJobProgressSystray-class {
    button {
        border: 1px solid $o-gray-200 !important;
        border-radius: $btn-border-radius;
        padding: 2px 10px !important;
        height: inherit !important;

        &:hover {
            border: 1px solid $o-gray-300 !important;
            background-color: $o-gray-200 !important;
        }

        span, p {
            color: $o-gray-700 !important;
        }
    }

    .o-mail-QueueJobProgressMenu-counter {
        width: 20px;
        height: 20px;
        background-color: $o-gray-200;
        line-height: 20px;
        font-size: 11px;
        border-radius: 4px;
    }
}

.pyper_dashboard--header {
    padding-bottom: 0;
}

.pyper_dashboard--section {
    .o_graph_renderer {
        > div:first-of-type {
            display: none !important;
        }
    }
}
