<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <!-- Dashboard Menu -->
    <menuitem
        id="menu_dashboard_root"
        name="Dashboards"
        sequence="10"
        web_icon="pyper_dashboard,static/description/icon.png"
    />

    <menuitem
        id="menu_dashboard_dashboard"
        name="Dashboards"
        action="action_dashboard_open"
        sequence="10"
        parent="menu_dashboard_root"
    />

    <menuitem
        id="menu_dashboard_my_board"
        name="My dashboard"
        action="action_my_dashboard_open"
        sequence="20"
        parent="menu_dashboard_root"
    />

    <!-- Config -->
    <menuitem
        id="menu_dashboard_settings"
        name="Settings"
        sequence="1000"
        parent="menu_dashboard_root"
    />

    <menuitem
        id="menu_dashboard_settings_dashboard"
        name="Dashboards"
        action="action_dashboard_dashboard_list"
        sequence="10"
        parent="menu_dashboard_settings"
    />
</odoo>
