// = Main Navbar Variables
// ============================================================================
$o-navbar-height: 60px;
$o-navbar-padding-v: 16px;

$o-navbar-entry-bg--hover: $o-brand-primary;
$o-navbar-entry-color: #18181b;
