.o_form_sheet {
    .o-form-buttonbox {
        gap: 1rem;
        margin-bottom: 1rem;

        &:empty {
            display: none !important;
        }

        .oe_stat_button {
            border-radius: $o-border-radius;

            .o_field_widget {
                border: none;
                padding: 0;
                margin-bottom: 0;
                min-height: auto;
            }
        }
    }
}
