.o-url-share-Systray-class {
    margin-top: -$o-navbar-padding-v;
    margin-bottom: -$o-navbar-padding-v;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
        color: $o-navbar-entry-color--hover;
        background-color: $o-navbar-entry-bg--hover;
    }

    &:active {
        color: $o-navbar-entry-color--active;
        background-color: $o-navbar-entry-bg--active;
    }
}

.url-copy-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: opacity 0.5s ease;
    opacity: 0.9;
}
