$o-switcher-organization-menu-border-radius: $o-border-radius !default;

$o-switcher-organization-menu-border-width: 1px !default;
$o-switcher-organization-menu-border-color: $o-gray-100 !default;
$o-switcher-organization-menu-border-bg: $o-gray-100 !default;

$o-switcher-organization-menu-initials-color: $o-gray-800 !default;
$o-switcher-organization-menu-initials-weight: bold !default;

$o-switcher-organization-menu-item-logo-width: 32px !default;
$o-switcher-organization-menu-item-logo-margin-h: 6px !default;
$o-switcher-organization-menu-item-logo-border-radius: $o-border-radius;
