<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="technology_root"
        name="Technologies"
        web_icon="pyper_stack_tracker,static/description/icon.png"
    />

    <menuitem
        id="technology_menu"
        name="Technologies"
        sequence="10"
        parent="technology_root"
        action="pyper_stack_tracker.action_technologies"
    />

    <menuitem
        id="technology_type_menu"
        name="Technology types"
        sequence="20"
        parent="technology_root"
        action="pyper_stack_tracker.action_technology_types"
    />

    <menuitem
        id="code_language_menu"
        name="Code languages"
        sequence="30"
        parent="technology_root"
        action="pyper_stack_tracker.action_code_languages"
    />

    <record model="ir.ui.menu" id="pyper_stack_tracker.technology_root">
        <field name="font_icon">ph ph-code</field>
        <field name="font_icon_color">#374151</field>
        <field name="category_id" ref="pyper_menu.menu_category_manager"/>
    </record>
</odoo>

