.o_drawer {
    .o_drawer_workspace_menu {
        // Main Navbar style
        display: flex;
        height: var(--o-navbar-height);
        min-width: min-content;
        padding-top: $o-navbar-padding-v;
        padding-bottom: $o-navbar-padding-v;
        border-bottom: $o-navbar-border-bottom;
        border-bottom-color: transparent;
        background: transparent;
        font-size: $o-navbar-font-size;
        flex: 0 0 auto;

        // Drawer App Logo
        .o_workspace_menu {
            .dropdown-toggle {
                margin-left: $o-drawer-item-padding-h;
            }
        }
    }

    &.o_drawer--nav {
        .o_drawer_workspace_menu {
            .o_workspace_menu {
                .dropdown-toggle {
                    margin-left: $o-drawer-item-padding-h;
                }
            }
        }
    }

    &.o_drawer--mini {
        .o_drawer_workspace_menu {
            width: 100%;
            justify-content: center;

            .o_workspace_menu {
                .dropdown-toggle {
                    margin-left: 0;

                    .o_workspace_menu--infos,
                    .o_workspace_menu--caret {
                        display: none !important;
                    }
                }
            }
        }
    }
}
