$p-mail-message-bubble-self-authored-color: inherit !default;
$p-mail-message-bubble-self-authored-bg: $o-gray-100 !default;

$p-mail-message-bubble-color: inherit !default;
$p-mail-message-bubble-bg: $o-gray-100 !default;
