
// Sticky Column
.o_list_renderer {
    &.table-responsive {
        overflow-x: overlay;
    }

    .o_list_table {
        // Fix zindex between sticky header and sticky column
        thead {
            z-index: 2;
        }

        thead th.sticky-col,
        tbody td.sticky-col {
            position: sticky !important;
            left: 0;
            z-index: 1;
        }

        thead th.sticky-col {
            background-color: var(--ListRenderer-thead-bg-color);
        }
    }
}
