.o_form_renderer {
    // Form Sheet
    // ----------

    // Hack to align scrollbar with the top of form sheet
    .o_form_sheet_bg {
        @include media-breakpoint-up(md) {
            --formView-sheet-padding-y: var(--formView-sheet-padding-y-md, #{map-get($spacers, 3)});
        }

        @include media-breakpoint-up(lg) {
            --formView-sheet-padding-y: var(--formView-sheet-padding-y-lg, #{map-get($spacers, 4)});
        }

        @include media-breakpoint-up(xxl, $o-extra-grid-breakpoints) {
            --formView-sheet-padding-y: var(--formView-sheet-padding-y-xxl, #{map-get($spacers, 3)});
        }

        margin-top: var(--formView-sheet-padding-y);
    }

    .o_form_sheet {
        padding-top: 0;
    }

    // Chatter container
    // -----------------

    .o-mail-ChatterContainer {
        @include media-breakpoint-up(md) {
            --formView-sheet-padding-y: var(--formView-sheet-padding-y-md, #{map-get($spacers, 3)});
            --formView-sheet-margin-x: var(--formView-sheet-margin-x-md, 0);
        }

        @include media-breakpoint-up(lg) {
            --formView-sheet-padding-y: var(--formView-sheet-padding-y-lg, #{map-get($spacers, 4)});
            --formView-sheet-padding-x: var(--formView-sheet-padding-x-lg, #{map-get($spacers, 4)});
        }

        @include media-breakpoint-up(xxl, $o-extra-grid-breakpoints) {
            --formView-sheet-padding-y: var(--formView-sheet-padding-y-xxl, #{map-get($spacers, 3)});
            --formView-sheet-padding-x: var(--formView-sheet-padding-x-xxl, #{map-get($spacers, 3)});
        }

        margin: 0 var(--formView-sheet-margin-x, calc(var(--formView-sheetBg-padding-x)* -1));
        padding: var(--formView-sheet-padding-y) var(--formView-sheet-padding-x);
        padding-bottom: 0;

        // Hack to align scrollbar with the top of form sheet
        padding-top: 0;
        margin-top: var(--formView-sheet-padding-y);
    }

    @include media-breakpoint-down(lg) {
        .o-mail-Chatter-top {
            border-top: 1px solid $o-gray-200;
        }
    }

    @include media-breakpoint-up(lg) {
        .o-mail-Chatter-top,
        .o-mail-Chatter-content {
            border: $o-mail-chatter-border;
            border-bottom-width: 0;
        }

        .o-mail-Chatter,
        .o-mail-Chatter-top {
            border-top-left-radius: $o-border-radius;
            border-top-right-radius: $o-border-radius;
        }

        .o-mail-Chatter-content {
            border-top-width: 0;
            flex-grow: 1;
        }
    }

    &.flex-nowrap {
        .o-mail-ChatterContainer {
            padding-left: 0;
            padding-bottom: 0;
        }
    }

    // Chatter content style
    // ---------------------

    .o-mail-Chatter-top,
    .o-mail-Chatter-content {
        background-color: $o-mail-chatter-bg;
    }

    // Chatter Activities style
    // ------------------------

    .o-mail-Activity {
        .o-mail-Activity-sidebar {
            margin-right: $o-mail-Message-sidebarWidth - $o-mail-Avatar-size;
        }

        .o-mail-Activity-header {
            padding: 0 !important;
            flex-grow: 1;
        }

        .o-mail-Activity-content {
            background-color: $o-white;
            border-radius: $o-border-radius;
            padding: 8px 8px 4px 8px !important;
        }
    }

    // Chatter Message Search style
    // ----------------------------

    .o-mail-Chatter-search {
        .o_searchview {
            &.form-control {
                background-color: $o-white;
            }
        }
    }

    // Chatter Message style
    // ---------------------

    .o-mail-Chatter {
        .o-mail-Message-avatarContainer {
            background-color: transparent !important;
        }

        .o-mail-Message-container {
            .o-mail-Message-content {
                width: 100%;
            }

            .o-mail-Message-actions {
                position: absolute;
                right: 0;
                top: 25%;
            }

            + .o-mail-Message-header {
                > span,
                > small {
                    margin-top: 8px;
                }
            }
        }

        .o-mail-Message-textContent {
            &.message_type_notification {
                background-color: $o-white;
                padding: 8px;
                border-radius: $o-border-radius;
            }

            &.message_type_comment {
                .o-mail-Message-body {
                    padding: 4px 8px !important;
                }
            }
        }

        .o-mail-Message-tracking.mb-1:last-child {
            margin-bottom: 0 !important;
        }

        .o-mail-Message-body {
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}
