// Discuss Message style
// ---------------------

.o-mail-Chatter,
.o-mail-Discuss {
    .o-mail-Composer-avatar {
        &.o_avatar {
            &.rounded {
                border-radius: 50rem !important;
            }
        }
    }

    .o-mail-Message-avatar {
        &.rounded {
            border-radius: 50rem !important;
        }
    }

    .o-mail-Message-bubble {
        background-color: $o-white;

        &.o-mail-Message-bubble--self-authored {
            background-color: $p-mail-message-bubble-self-authored-bg;
        }
    }

    .o-mail-Message-body--self-authored {
        &,
        a,
        a:hover,
        a:focus {
            color: $p-mail-message-bubble-self-authored-color;
        }
    }

    .o-mail-Message-body--not-self-authored {
        &,
        a,
        a:hover,
        a:focus {
            color: $p-mail-message-bubble-color;
        }
    }

    .o-mail-Message-author {
        strong {
            font-weight: 400;
            opacity: 0.50;
        }
    }

    .o-mail-DateSection {
        font-size: 0.75rem;
    }

    .o-mail-Message-actions {
        .btn {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            height: 18px;
            line-height: 18px;
            opacity: 0.50;

            &:hover {
                opacity: 1;
                background-color: transparent !important;
                color: $o-brand-primary !important;
            }
        }

        i {
            font-size: 14px !important;
            line-height: 1 !important;
        }
    }
}
