.o_drawer {
    .o_drawer_app_logo {
        border-bottom: 1px solid $o-gray-200;
    }

    .btn-quick-action {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        display: flex !important;
        align-items: center !important;

        i {
            margin-top: 0 !important;
            margin-right: 10px !important;
        }
    }
}
