.o-mail-ActivityList {
    .o-mail-Activity {
        border: 1px solid $o-gray-200;
        margin: 0 20px;
        padding: 15px !important;
        border-radius: $border-radius;

        .lh-lg {
            margin-top: 10px;

            .btn-link {
                border: 1px solid $o-gray-200 !important;
                padding: 3px 6px !important;
                margin-right: 5px !important;
            }
        }

    }

    .o-mail-Activity-info {
        line-height: 1.5 !important;
    }
}

.o-mail-Discuss {
    border-top: none !important;

    .o-mail-DiscussSidebar {
        width: $o-drawer-width;
        background-color: $o-gray-50;
        border-radius: 0 !important;

        .o-mail-DiscussSidebarCategory-channel, .o-mail-DiscussSidebarCategory-chat {
            .text-uppercase {
                font-weight: normal !important;
                text-transform: initial !important;
            }
        }
    }

    .o-mail-Discuss-threadAvatar img {
        height: 20px;
        width: 20px;
    }

    .lead {
        font-size: 1rem;
    }
}

.o-mail-ChatterContainer {
    border-left: 1px solid $o-gray-200;
}

.o-mail-Chatter-topbar {
    padding-top: 8px;

    button {
        &.o-mail-Chatter-sendMessage,
        &.o-mail-Chatter-sendEmail,
        &.o-mail-Chatter-logNote,
        &.o-mail-Chatter-activity {
            background-color: #fff !important;
            font-size: 0.875rem !important;
            border: 1px solid $o-gray-300 !important;
            color: $body-color !important;

            &:hover {
                background-color: $o-gray-200 !important;
            }
        }

    }
}

.o-mail-Chatter-sendMessage {
    border: 1px solid $o-gray-200;
    color: $body-color !important;
}

.o-mail-Thread {
    .o-mail-DateSection:not(:first-of-type) {
        padding-top: 20px !important;

        span {
            font-weight: normal;
        }

        hr {
            display: none;
        }
    }

    .o-mail-DateSection:first-of-type {
        padding-top: 0 !important;
    }
}

.o-mail-Message-type {
    background-color: #fff !important;
    padding: 0.25em 0.5em;
    border: 1px solid $o-gray-200;
}
