.o-command-NotificationSystray-class {
  margin-top: -16px;
  margin-bottom: -16px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  color: var(--NavBar-entry-color, rgba(255, 255, 255, 0.9));
}
