// = Drawer
// ============================================================================
.o_drawer {
    position: fixed !important;
    top: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: $o-drawer-zindex;
    width: $o-drawer-width;
    cursor: default;
    user-select: none;
    border-left: none;
    border-right: $o-drawer-border-width solid transparent;

    transform: translate3d(-$o-drawer-width, 0px, 0px);

    &.o_drawer--ready {
        transition: transform 0.2s, width 0.2s;
    }

    &.o_drawer--opened {
        transform: translate3d(0px, 0px, 0px);
    }

    &.o_drawer--locked {
        transform: translate3d(0px, 0px, 0px);
    }

    &.o_drawer--mini {
        width: $o-drawer-mini-width;
        overflow-x: hidden;
    }

    .o_drawer--menu {
        margin: 0;
        padding: $o-horizontal-padding/2 0;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100%;
        list-style: none;
        text-align: left;
        direction: ltr;

        &,
        & ul,
        & li,
        & span,
        & a {
            touch-action: pan-y;
        }

        > hr {
            &:first-child {
                margin-top: 0;
            }
        }
    }

    &.o_drawer--ready {
        .o_drawer--menu {
            overflow-y: auto;
        }
    }

    .o_drawer--closer {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.o_drawer--category-label {
    font-size: $o-drawer-category-label-size;
    color: $o-drawer-category-label-color;
    padding: $o-drawer-category-label-padding-v $o-drawer-category-label-padding-h;
    margin-top: $o-drawer-category-label-margin-top;
    margin-bottom: $o-drawer-category-label-margin-bottom;
}

.o_drawer--menu-item-content {
    display: flex;
    align-items: center;
    padding: $o-drawer-item-padding-v $o-drawer-item-padding-h;
    width: 100%;
}

.o_drawer--item-icon {
    margin-right: $o-drawer-item-padding-h;
    width: $o-drawer-item-icon-width;
    max-height: $o-drawer-item-icon-width;
    font-size: $o-drawer-item-icon-width;
    border-radius: $o-drawer-item-icon-border-radius;
}

.o_drawer--item-icon-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: $o-drawer-item-padding-h;
    width: $o-drawer-item-icon-width;
    height: $o-drawer-item-icon-width;
    font-size: $o-drawer-item-icon-font-width;
    border-radius: $o-drawer-item-icon-border-radius;
    color: $o-drawer-item-icon-color;

    &:empty {
        width: 0;
        margin-right: 0;
    }
}

.o_drawer.o_drawer--mini {
    .o_drawer--menu-item {
        &.dropdown-item {
            max-width: $o-drawer-mini-width - $o-drawer-border-width;

            .o_drawer--menu-item-content {
                padding-left: 0;
                padding-right: 0;
                justify-content: center;
            }

            .o_drawer--item-icon,
            .o_drawer--item-icon-empty {
                margin-right: inherit;
            }
        }
    }
}

// Drawer Menu Item
.o_drawer--menu-item {
    display: flex;
    align-items: center;

    &.dropdown-item {
        padding: 0;

        .o_drawer--menu-item-content {
            color: $o-drawer-item-color;
            background-color: $o-drawer-item-bg;
        }

        .o_drawer--item-label {
            font-size: $o-drawer-item-font-size;

            &.hidden {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
        }

        &:hover,
        &:focus {
            background-color: inherit;
            outline: none;

            .o_drawer--item-icon-empty {
                color: $o-drawer-item-icon-hover-color !important;
            }

            .o_drawer--menu-item-content {
                color: $o-drawer-item-hover-color;
                background-color: $o-drawer-item-hover-bg;
            }
        }
    }
}

// Drawer Popover Item
.o_drawer--popover-item {
    border: 0;
    border-top-right-radius: $o-drawer-item-icon-border-radius;
    border-bottom-right-radius: $o-drawer-item-icon-border-radius;
    box-shadow: inherit;
    background-color: inherit;

    &.o-popover-left {
        margin-right: 0;
    }

    &.o-popover-right {
        margin-left: 0;
    }

    .o_drawer--menu-item.dropdown-item {
        border-top-right-radius: $o-drawer-item-icon-border-radius;
        border-bottom-right-radius: $o-drawer-item-icon-border-radius;
        background-color: $o-drawer-bg;
        cursor: pointer;

        .o_drawer--menu-item-content {
            box-shadow: $o-drawer-popover-item-box-shadow;
            color: $o-drawer-popover-item-color;
            background-color: $o-drawer-popover-item-bg;
            border-top-right-radius: $o-drawer-item-icon-border-radius;
            border-bottom-right-radius: $o-drawer-item-icon-border-radius;
        }

        .o_drawer--item-label {
            font-weight: $o-drawer-popover-item-font-weight;

            &:first-child {
                padding-left: 0;
            }
        }

        &:hover,
        &:focus {
            outline: none;

            .o_drawer--item-icon-empty {
                color: $o-drawer-item-icon-hover-color !important;
            }

            .o_drawer--menu-item-content {
                color: $o-drawer-popover-item-hover-color;
                background-color: $o-drawer-popover-item-hover-bg;
            }
        }
    }
}

// Drawer Header and Footer
.o_drawer--header,
.o_drawer--footer {
    padding: $o-horizontal-padding/2 0;

    &:empty {
        display: none;
    }
}

// Drawer Swiper
.o_drawer--swiper {
    position : fixed;
    z-index: $o-drawer-swiper-zindex;
    width: $o-drawer-swiper-width;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0.01;
    background-color: $o-drawer-swiper-bg;
    user-select: none;
}

// Drawer Obfuscator
.o_drawer--obfuscator {
    position: fixed;
    display: block;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity #{$o-drawer-obfuscator-duration} ease, z-index 0s linear;
    transition-delay: 0s, #{$o-drawer-obfuscator-duration};

    .o_drawer--opened + & {
        z-index: $o-drawer-obfuscator-zindex;
        transition-delay: 0s, 0s;
        opacity: 1;
    }
}

// = Drawer Theme
// ============================================================================

.o_drawer {
    border-right-color: $o-drawer-border-color;
    background-color: $o-drawer-bg;

    &.o_drawer--hoverable.o_drawer--opened,
    &.o_drawer--dragging {
        @include box-shadow($o-drawer-shadow);
    }
}

// Active Drawer menu item
.o_drawer--menu-item.dropdown-item {
    &.o_drawer--menu-item-active {
        .o_drawer--item-icon,
        .o_drawer--item-icon-empty {
            color: $o-drawer-item-icon-active-color !important;
        }

        .o_drawer--menu-item-content {
            color: $o-drawer-item-active-color;
            background-color: $o-drawer-item-active-bg;
        }

        &:hover,
        &:focus {
            .o_drawer--item-icon,
            .o_drawer--item-icon-empty {
                color: $o-drawer-item-icon-active-hover-color !important;
            }

            .o_drawer--menu-item-content {
                color: $o-drawer-item-active-hover-color;
                background-color: $o-drawer-item-active-hover-bg;
            }
        }
    }
}

.o_drawer--popover-item {
    .o_drawer--menu-item.dropdown-item {
        &.o_drawer--menu-item-active {
            .o_drawer--item-icon,
            .o_drawer--item-icon-empty {
                color: $o-drawer-item-active-color;
            }

            .o_drawer--menu-item-content {
                color: $o-drawer-popover-item-active-color !important;
                background-color: $o-drawer-popover-item-active-bg !important;
            }

            &:hover,
            &:focus {
                .o_drawer--item-icon,
                .o_drawer--item-icon-empty {
                    color: $o-drawer-popover-item-active-hover-color;
                }

                .o_drawer--menu-item-content {
                    color: $o-drawer-popover-item-active-hover-color;
                    background-color: $o-drawer-popover-item-active-hover-bg;
                }
            }
        }
    }
}

.o_drawer--obfuscator {
    background-color: $o-drawer-obfuscator-bg;
}

// Drawer Menu Nav Style
.o_drawer.o_drawer--nav {
    .o_drawer--menu {
        padding-bottom: $o-drawer-item-padding-v * 4;
    }

    .o_drawer--menu-item {
        &.dropdown-item {
            padding: 0;
            margin-left: $o-drawer-item-nav-margin-h;
            margin-right: $o-drawer-item-nav-margin-h;
            width: auto;

            .o_drawer--menu-item-content {
                border-radius: $o-drawer-item-icon-border-radius;
                padding-left: $o-drawer-item-padding-h - ($o-drawer-item-nav-margin-h/2);
                padding-right: $o-drawer-item-padding-h - ($o-drawer-item-nav-margin-h/2);
            }
        }
    }

    &.o_drawer--mini {
        .o_drawer--menu-item {
            &.dropdown-item {
                &:hover {
                    .o_drawer--menu-item-content {
                        border-top-right-radius: inherit;
                        border-bottom-right-radius: inherit;
                    }
                }
            }
        }
    }
}

// = Container
// ============================================================================

.o_drawer {
    &.o_drawer--locked {
        + .o_action_manager,
        + .o_navbar + .o_action_manager,
        + .o_drawer--obfuscator + .o_action_manager,
        + .o_drawer--obfuscator + .o_navbar + .o_action_manager {
            margin-left: $o-drawer-width;
        }

        &.o_drawer--mini {
            + .o_action_manager,
            + .o_navbar + .o_action_manager,
            + .o_drawer--obfuscator + .o_action_manager,
            + .o_drawer--obfuscator + .o_navbar + .o_action_manager {
                margin-left: $o-drawer-mini-width;
            }
        }
    }

    &.o_drawer--locked {
        + .o_navbar,
        + .o_drawer--obfuscator + .o_navbar {
            margin-left: $o-drawer-width;
        }

        &.o_drawer--mini {
            + .o_navbar,
            + .o_drawer--obfuscator + .o_navbar {
                margin-left: $o-drawer-mini-width;
            }
        }
    }

    &.o_drawer--fixed-top {
        top: $o-navbar-height + $o-drawer-border-width;

        &.o_drawer--locked {
            + .o_navbar,
            + .o_drawer--obfuscator + .o_navbar {
                margin-left: 0;
            }
        }
    }
}

// = Navbar
// ============================================================================

.o_main_navbar {
    .o_navbar_apps_menu {
        width: $o-navbar-apps-menu-width;

        &.o_navbar_apps_menu--minified {
            width: $o-drawer-mini-width;
        }

        &.o_navbar_apps_menu--hide {
            display: none;
        }

        &.o_navbar_apps_menu--hide,
        &:empty {
            width: auto !important;

            + .o_menu_brand {
                padding-left: $o-horizontal-padding;
            }
        }
    }

    .o_drawer_toggler {
        &.o_drawer--locked {
            &.o_drawer--fixed-top {
                &:not(.o_drawer--mini) {
                    width: $o-drawer-toggler-locked-width;
                }
            }

            + .o_menu_brand {
                padding-left: $o-horizontal-padding;
            }

            &.o_drawer--mini {
                width: auto;
            }
        }
    }

    .o_navbar_apps_menu:not(.o_navbar_apps_menu--hide) + .o_drawer_toggler {
        &.o_drawer--locked {
            &.o_drawer--fixed-top {
                &:not(.o_drawer--mini) {
                    width: $o-drawer-toggler-locked-width-with-apps-menu;
                }
            }
        }
    }
}


// = Website
// ============================================================================

.editor_has_snippets_hide_backend_navbar {
    .o_drawer {
        display: none !important;

        &.o_drawer--locked {
            + .o_action_manager,
            + .o_navbar + .o_action_manager,
            + .o_drawer--obfuscator + .o_action_manager,
            + .o_drawer--obfuscator + .o_navbar + .o_action_manager {
                margin-left: 0;
            }

            &.o_drawer--mini {
                + .o_action_manager,
                + .o_navbar + .o_action_manager,
                + .o_drawer--obfuscator + .o_action_manager,
                + .o_drawer--obfuscator + .o_navbar + .o_action_manager {
                    margin-left: 0;
                }
            }
        }

        &.o_drawer--locked {
            + .o_navbar,
            + .o_drawer--obfuscator + .o_navbar {
                margin-left: 0;
            }

            &.o_drawer--mini {
                + .o_navbar,
                + .o_drawer--obfuscator + .o_navbar {
                    margin-left: 0;
                }
            }
        }
    }
}
