$pyper-dashboard-padding-h: 12px !default;
$pyper-dashboard-padding-v: 12px !default;

$pyper-dashboard-header-padding-h: $pyper-dashboard-padding-h !default;
$pyper-dashboard-header-padding-v: 8px !default;

$pyper-dashboard-action-font-size: 12px !default;

$pyper-dashboard-dropdown-header_color: $o-brand-secondary !default;