<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="action_open_pappers_wizard" model="ir.actions.act_window">
            <field name="name">Import company with siret</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">pappers.form</field>
            <field name="target">new</field>
            <field name="view_mode">form</field>
        </record>

        <record id="action_open_pappers_name_wizard" model="ir.actions.act_window">
            <field name="name">Import company with name</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">pappers.name.form</field>
            <field name="target">new</field>
            <field name="view_mode">form</field>
        </record>

        <menuitem
            id="pappers_name_form"
            name="Import company with name"
            sequence="1"
            parent="pyper_contact.all_company_importer"
            action="pappers_connector.action_open_pappers_name_wizard"
        />

        <menuitem
            id="pappers_siret_form"
            name="Import company with siret"
            sequence="2"
            parent="pyper_contact.all_company_importer"
            action="pappers_connector.action_open_pappers_wizard"
        />
    </data>
</odoo>