.o_form_sheet {
    .o-mail-Form-chatter {
        display: contents;
    }

    .o-mail-ChatterContainer:not(.o-aside):not(.o-full-width) .o-mail-Chatter,
    .o-mail-Form-chatter:not(.o-aside):not(.o-full-width) .o-mail-Chatter {
        margin-left: inherit;
        margin-right: inherit;
    }


    .o-mail-Chatter-top,
    .o-mail-Activity,
    .o-mail-AttachmentBox > div,
    .o-mail-DateSection > span,
    .o-mail-Message
    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
