// Override @web/views/form/form_controller.scss
//----------------------------------------------

.o_form_view {
    .oe_left {
        @extend .oe_inline;
        float: left!important;
    }
    .oe_right {
        @extend .oe_inline;
        float: right!important;
    }

    .o_form_sheet_bg {
        --formView-sheetBg-padding-x: 0;

        padding-top: map-get($spacers, 0);
        padding-left: 0;
        padding-right: 0;
        margin-right: 0
    }

    .o_form_sheet {
        --formView-sheet-padding-y: #{map-get($spacers, 4)};
        --formView-sheet-padding-x: #{map-get($spacers, 4)};

        border-width: 0;
        border-radius: 0;

        @include media-breakpoint-up(md) {
            --formView-sheet-border-width: 0;
        }

        @include media-breakpoint-up(lg) {
            --formView-sheet-padding-x: var(--formView-sheet-padding-x-lg, #{map-get($spacers, 5)});
        }

        @include media-breakpoint-up(xxl, $o-extra-grid-breakpoints) {
            --formView-sheet-padding-y: var(--formView-sheet-padding-y-xxl, #{map-get($spacers, 5)});
            --formView-sheet-padding-x: var(--formView-sheet-padding-x-xxl, #{map-get($spacers, 5)});
        }
    }

    .o_form_statusbar {
        padding: 0 48px;
        margin-top: 16px;
    }

    .o_inner_group {
        gap: map-get($spacers, 3) $o-horizontal-padding;
        margin-bottom: map-get($spacers, 3);
    }

    .o_field_DynamicModelFieldSelectorChar {
        &.oe_inline {
            min-width: auto;
        }
    }

    .o_inner_group.oe_subtotal_footer {

    }
}

.modal .modal-dialog {
    .o_form_sheet {
        --formView-sheet-padding-y-xxl: #{map-get($spacers, 3)};
    }
}

.o_form_view.o_xxl_form_view {
    .o_form_sheet_bg {
        flex: inherit;
    }
}

.oe_title {
    h1 {
        .o_input {
            font-weight: bold !important;
        }

        .o_field_widget {
            font-weight: bold !important;
        }
    }
}
