.o_timeline_view {
    .o_content {
        display: flex;
        flex-direction: column;
    }

    .o_timeline_renderer {
        flex-grow: 1;

        &.timeline-loading {
            .vis-panel {
                &.vis-left,
                &.vis-right,
                &.vis-center {
                    opacity: 0 !important;
                }
            }
        }

        &:not(.timeline-grouped) {
            .vis-timeline {
                .vis-panel {
                    &.vis-left {
                        display: none;
                    }
                }
            }
        }
    }

    .vis-timeline {
        background: $pyper-timeline-bg;
        border: none !important;

        .vis-grid {
            &.vis-odd {
                background: $pyper-timeline-time-axis-odd-bg;
            }

            &.vis-even {
                background: $pyper-timeline-time-axis-even-bg;
            }

            &.vis-saturday,
            &.vis-sunday {
                background: $pyper-timeline-weekends-bg;
            }
        }

        .vis-time-axis {
            .vis-grid {
                &.vis-major {
                    border-color: $pyper-timeline-time-axis-major-border-color;
                }
            }
        }

        .vis-labelset .vis-label,
        .vis-foreground .vis-group {
            border-color: $pyper-timeline-line-bottom-border-color;
        }

        .vis-labelset {
            .vis-label {
                .vis-inner {
                    padding: $pyper-timeline-label-padding;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }

        .vis-panel {
            &.vis-top {
                background: $pyper-timeline-panel-top-bg;
                border-color: $pyper-timeline-panel-border-color;
            }

            &.vis-bottom {
                background: $pyper-timeline-panel-bottom-bg;
                border-color: $pyper-timeline-panel-border-color;
            }

            &.vis-left {
                background: $pyper-timeline-panel-left-bg;
                border-color: $pyper-timeline-panel-border-color;
                min-width: $pyper-timeline-panel-left-min-width;
                max-width: $pyper-timeline-panel-left-max-width;
            }

            &.vis-right {
                background: $pyper-timeline-panel-right-bg;
                border-color: $pyper-timeline-panel-border-color;
            }

            &.vis-center {
                background: $pyper-timeline-panel-center-bg;
                border-color: $pyper-timeline-panel-border-color;
            }
        }

        .vis-item {
            color: $pyper-timeline-item-color;
            border-width: $pyper-timeline-item-border-width;
            border-color: $pyper-timeline-item-border-color;
            background-color: $pyper-timeline-item-bg;

            &.vis-range {
                border-radius: $pyper-timeline-item-border-radius;
            }

            &.vis-selected {
                border-color: $pyper-timeline-item-selected-border-color;
                background-color: $pyper-timeline-item-selected-bg;
                outline: $pyper-timeline-item-selected-outline-width solid $pyper-timeline-item-selected-border-color;
            }

            .vis-item-overflow {
                overflow: $pyper-timeline-item-overflow;
            }

            .vis-item-content {
                padding: $pyper-timeline-item-content-padding !important;
                outline-width: $pyper-timeline-item-border-width;
                outline-style: solid;
                outline-color: $pyper-timeline-item-border-color;
                border-radius: $pyper-timeline-item-border-radius;
                min-width: 100%;
            }

            .vis-delete {
                right: -32px;
            }

            .vis-delete-rtl {
                left: -32px;
            }

            .vis-delete,
            .vis-delete-rtl {
                background-color: $pyper-timeline-delete-bg;
                border-radius: $pyper-timeline-delete-border-radius;
                line-height: 26px;

                &:after {
                    color: $o-danger;
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: $o-danger;

                    &:after {
                        color: $o-white;
                    }
                }
            }
        }
    }

    .o_timeline_renderer.overflow-visibility {
        .vis-timeline {
            .vis-item {
                &:hover {
                    cursor: pointer !important;
                    z-index: $pyper-timeline-item-overflow-zindex;
                    background-color: $pyper-timeline-item-bg-hover !important;

                    .vis-item-overflow {
                        overflow: $pyper-timeline-item-overflow-hover;
                    }

                    .vis-item-content {
                        z-index: 0;
                        background-color: $pyper-timeline-item-bg-hover !important;
                        box-shadow: $pyper-timeline-item-box-shadow-hover;
                    }
                }
            }
        }
    }
}

.o_timeline_item_popover {
    .popover-footer {
        display: flex;
        gap: $card-spacer-x;
    }
}

// ===============  Generate color classes ===============
@for $i from 1 through length($o-colors-complete) {
    $color: nth($o-colors-complete, $i);
    $color-subtle: mix($o-white, $color, 55%);

    .o_timeline_view .vis-item {
        &.o_timeline_color_#{$i - 1} {
            .vis-item-content {
                background-color: $color-subtle;
            }
        }
    }

    // Overflow visibility
    .o_timeline_view {
        .o_timeline_renderer.overflow-visibility {
            .vis-timeline {
                .vis-item {
                    &.o_timeline_color_#{$i - 1} {
                        &:hover {
                            background-color: $color-subtle !important;
                        }

                        .vis-item-content {
                            background-color: $color-subtle !important;
                        }
                    }
                }
            }
        }
    }
}
