.o_timeline_view {
    .o_content {
        display: flex;
        flex-direction: column;
    }

    .o_timeline_renderer {
        flex-grow: 1;

        &.timeline-loading {
            .vis-panel {
                &.vis-left,
                &.vis-right,
                &.vis-center {
                    opacity: 0 !important;
                }
            }
        }

        &:not(.timeline-grouped) {
            .vis-timeline {
                .vis-panel {
                    &.vis-left {
                        display: none;
                    }
                }
            }
        }
    }

    .vis-timeline {
        background: $pyper-timeline-bg;
        border: none !important;

        .vis-grid {
            &.vis-odd {
                background: $pyper-timeline-time-axis-odd-bg;
            }

            &.vis-even {
                background: $pyper-timeline-time-axis-even-bg;
            }

            &.vis-saturday,
            &.vis-sunday {
                background: $pyper-timeline-weekends-bg;
            }
        }

        .vis-time-axis {
            .vis-grid {
                &.vis-major {
                    border-color: $pyper-timeline-time-axis-major-border-color;
                }
            }
        }

        .vis-labelset .vis-label,
        .vis-foreground .vis-group {
            border-color: $pyper-timeline-line-bottom-border-color;
        }

        .vis-labelset {
            .vis-label {
                .vis-inner {
                    padding: $pyper-timeline-label-padding;
                    min-width: 100%;
                    min-height: 100%;
                }
            }
        }

        .vis-panel {
            &.vis-top {
                background: $pyper-timeline-panel-top-bg;
                border-color: $pyper-timeline-panel-border-color;
            }

            &.vis-bottom {
                background: $pyper-timeline-panel-bottom-bg;
                border-color: $pyper-timeline-panel-border-color;
            }

            &.vis-left {
                background: $pyper-timeline-panel-left-bg;
                border-color: $pyper-timeline-panel-border-color;
                min-width: $pyper-timeline-panel-left-min-width;
                max-width: $pyper-timeline-panel-left-max-width;

                // Inverse scrollbar position to avoid flickering
                &.vis-vertical-scroll {
                    direction: ltr;
                }
            }

            &.vis-right {
                background: $pyper-timeline-panel-right-bg;
                border-color: $pyper-timeline-panel-border-color;

                // Inverse scrollbar position to avoid flickering
                &.vis-vertical-scroll {
                    direction: rtl;
                }
            }

            &.vis-center {
                background: $pyper-timeline-panel-center-bg;
                border-color: $pyper-timeline-panel-border-color;
            }
        }

        .vis-item {
            box-shadow: $pyper-timeline-item-box-shadow;
            color: $pyper-timeline-item-color;
            border-width: $pyper-timeline-item-border-width;
            border-color: $pyper-timeline-item-border-color;
            background-color: $pyper-timeline-item-bg;

            &.o_timeline_create_item_zone {
                pointer-events: none;
                background-color: $pyper-timeline-item-create-bg;
                border: $pyper-timeline-item-create-border-width $pyper-timeline-item-create-border-style $pyper-timeline-item-create-border-bg;
                border-radius: $pyper-timeline-item-border-radius;
                color: $pyper-timeline-item-create-color;
                font-size: $pyper-timeline-item-create-font-size;
                font-weight: $pyper-timeline-item-create-font-weight;

                .vis-item-content {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            &.o_timeline_past_item {
                border-color: $pyper-timeline-item-past-border-color;
                background-color: $pyper-timeline-item-past-bg;

                > * {
                    opacity: $pyper-timeline-item-past-opacity;
                }
            }

            &.vis-range {
                border-radius: $pyper-timeline-item-border-radius;
            }

            &.vis-box {
                overflow: $pyper-timeline-item-overflow;
                border-radius: $pyper-timeline-item-border-radius;
            }


            &.vis-selected {
                border-color: $pyper-timeline-item-selected-border-color;
                background-color: $pyper-timeline-item-selected-bg;

                &.o_timeline_past_item {
                    border-color: $pyper-timeline-item-selected-border-color;
                    background-color: $pyper-timeline-item-selected-bg;

                    > * {
                        opacity: 1;
                    }
                }
            }

            .vis-item-overflow {
                overflow: $pyper-timeline-item-overflow;
                border-radius: $pyper-timeline-item-border-radius;
            }

            .vis-item-content {
                padding: $pyper-timeline-item-content-padding !important;
                min-width: 100%;
                min-height: $pyper-timeline-item-min-height;
            }

            &.o_timeline_no_date {
                .vis-item-content {
                    opacity: $pyper-timeline-item-no-date-opacity;
                    background-image: $pyper-timeline-item-no-date-bg;
                }
            }

            .vis-delete {
                right: -32px;
            }

            .vis-delete-rtl {
                left: -32px;
            }

            .vis-delete,
            .vis-delete-rtl {
                background-color: $pyper-timeline-delete-bg;
                border-radius: $pyper-timeline-delete-border-radius;
                line-height: 26px;

                &:after {
                    color: $o-danger;
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: $o-danger;

                    &:after {
                        color: $o-white;
                    }
                }
            }
        }
    }

    .o_timeline_renderer.timeline-items-always-draggable {
        .vis-timeline {
            .vis-item {
                cursor: move;
            }
        }
    }

    .o_timeline_renderer.overflow-visibility {
        .vis-timeline {
            .vis-item {
                &:hover {
                    cursor: pointer !important;
                    z-index: $pyper-timeline-item-overflow-zindex;
                    background-color: $pyper-timeline-item-bg-hover !important;

                    &.o_timeline_past_item {
                        border-color: $pyper-timeline-item-border-color;
                        background-color: $pyper-timeline-item-bg-hover !important;

                        > * {
                            opacity: 1;
                        }
                    }

                    .vis-item-overflow {
                        overflow: $pyper-timeline-item-overflow-hover;
                    }

                    .vis-item-content {
                        z-index: 0;
                        background-color: $pyper-timeline-item-bg-hover !important;
                        box-shadow: $pyper-timeline-item-box-shadow-hover;
                        outline: $pyper-timeline-item-border-width solid $pyper-timeline-item-border-color;

                        // Fix item height with hover and overflow visibility
                        &:after {
                            display: block;
                            content: "";
                            height: 1px;
                        }
                    }

                    &.vis-selected {
                        .vis-item-content {
                            outline-color: $pyper-timeline-item-selected-border-color;
                        }
                    }
                }
            }
        }
    }
}

.o_timeline_item_popover {
    .popover-footer {
        display: flex;
        gap: $card-spacer-x;
    }
}

// ===============  Generate color classes ===============
@for $i from 1 through length($o-colors-complete) {
    $color: nth($o-colors-complete, $i);
    $color-subtle-border: mix($o-white, $color, 35%);
    $color-subtle: mix($o-white, $color, 55%);

    .o_timeline_view .vis-item {
        &.o_timeline_color_#{$i - 1} {
            border-color: $color-subtle-border;
            background-color: $color-subtle;

            &.vis-selected {
                border-color: $color;
                background-color: $color-subtle;
            }

            .vis-item-content {
                background-color: $color-subtle;
            }
        }
    }

    // Overflow visibility
    .o_timeline_view {
        .o_timeline_renderer.overflow-visibility {
            .vis-timeline {
                .vis-item {
                    &.o_timeline_color_#{$i - 1} {
                        &:hover {
                            .vis-item-content {
                                background-color: $color-subtle !important;
                                outline-color: $color-subtle-border;
                            }

                            &.vis-selected {
                                .vis-item-content {
                                    outline-color: $color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
