$pyper-timeline-bg: transparent !default;

$pyper-timeline-time-axis-odd-bg: $o-white !default;
$pyper-timeline-time-axis-even-bg: lighten($o-gray-50, 1%) !default;
$pyper-timeline-time-axis-major-border-color: $o-gray-400 !default;
$pyper-timeline-line-bottom-border-color: $border-color !default;

$pyper-timeline-panel-border-color: $border-color !default;
$pyper-timeline-panel-top-bg: transparent !default;
$pyper-timeline-panel-bottom-bg: transparent !default;
$pyper-timeline-panel-left-min-width: 150px;
$pyper-timeline-panel-left-max-width: 150px;
$pyper-timeline-panel-left-bg: transparent !default;
$pyper-timeline-panel-right-bg: transparent !default;
$pyper-timeline-panel-center-bg: transparent !default;

$pyper-timeline-weekends-bg: $o-gray-100 !default;

$pyper-timeline-label-padding: 4px !default;

$pyper-timeline-item-min-height: 22px !default;
$pyper-timeline-item-color: $o-main-text-color !default;
$pyper-timeline-item-border-width: 1px !default;
$pyper-timeline-item-border-color: darken($border-color, 5%) !default;
$pyper-timeline-item-border-radius: $o-border-radius !default;
$pyper-timeline-item-bg: $o-view-background-color !default;
$pyper-timeline-item-bg-hover: $o-view-background-color !default;
$pyper-timeline-item-box-shadow: none !default;
$pyper-timeline-item-box-shadow-hover: 1px 1px 6px -1px rgba(0,0,0,0.3) !default;

$pyper-timeline-item-no-date-opacity: 0.9 !default;
$pyper-timeline-item-no-date-bg: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 20px, transparent 20px, transparent 40px) !default;

$pyper-timeline-item-past-opacity: 0.35 !default;
$pyper-timeline-item-past-border-color: lighten($pyper-timeline-item-border-color, 10%) !default;
$pyper-timeline-item-past-bg: $pyper-timeline-item-bg !default;

$pyper-timeline-item-spliter-width: 2px !default;
$pyper-timeline-item-spliter-color: $border-color !default;

$pyper-timeline-item-overflow: hidden !default;
$pyper-timeline-item-overflow-hover: visible !default;
$pyper-timeline-item-overflow-zindex: 10 !default;
$pyper-timeline-item-content-padding: 5px !default;

$pyper-timeline-item-selected-border-color: $o-gray-500 !default;
$pyper-timeline-item-selected-bg: $pyper-timeline-item-bg !default;
$pyper-timeline-item-selected-outline-width: 1px !default;

$pyper-timeline-item-create-color: rgba($o-brand-secondary, 0.5) !default;
$pyper-timeline-item-create-bg: rgba($o-brand-secondary, 0.1) !default;
$pyper-timeline-item-create-border-width: 1px !default;
$pyper-timeline-item-create-border-style: dashed !default;
$pyper-timeline-item-create-border-bg: rgba($o-brand-secondary, 0.3) !default;
$pyper-timeline-item-create-border-radius: $pyper-timeline-item-border-radius !default;
$pyper-timeline-item-create-font-size: 18px !default;
$pyper-timeline-item-create-font-weight: normal !default;

$pyper-timeline-delete-bg: #fee2e2 !default;
$pyper-timeline-delete-border-radius: $pyper-timeline-item-border-radius !default;
