$pyper-timeline-bg: $o-gray-100 !default;
$pyper-timeline-bg-hover: linen !default;

$pyper-timeline-item-overflow: hidden !default;
$pyper-timeline-item-overflow-hover: visible !default;
$pyper-timeline-item-overflow-zindex: 10 !default;
$pyper-timeline-item-content-padding: 0 3px !default;
