// = Overlay Menu Variables
// ============================================================================
$o-overlay-menu-zindex: 3000 !default;
$o-overlay-menu-bg: rgba($o-white, 0.8) !default;

// = Overlay Menu Toggler Variables
// ============================================================================
$o-overlay-menu-toggler-font-size: inherit !default;
