// = Overlay Menu Variables
// ============================================================================
$o-overlay-menu-zindex: 1080 !default;
$o-overlay-menu-bg: rgba($o-white, 0.93) !default;
$o-overlay-menu-container-size: 770px !default;
$o-overlay-menu-padding-v: 70px !default;
$o-overlay-menu-padding-h: $o-horizontal-padding !default;

$o-overlay-menu-item-width: 120px !default;
$o-overlay-menu-item-gap: 10px !default;
$o-overlay-menu-item-padding: 10px !default;
$o-overlay-menu-item-spacer: $o-overlay-menu-item-padding*2 !default;
$o-overlay-menu-item-border-radius: $o-border-radius-lg !default;
$o-overlay-menu-item-border-width: 1px !default;
$o-overlay-menu-item-border-color: transparent !default;
$o-overlay-menu-item-border-bg: transparent !default;
$o-overlay-menu-item-border-hover-color: $o-gray-500 !default;
$o-overlay-menu-item-border-hover-bg: transparent !default;

$o-overlay-menu-item-label-color: $o-gray-700 !default;
$o-overlay-menu-item-label-hover-color: $o-gray-700 !default;

$o-overlay-menu-item-icon-color: inherit !default;
$o-overlay-menu-item-icon-color-hover: $o-overlay-menu-item-icon-color !default;
$o-overlay-menu-item-icon-size: 50px !default;
$o-overlay-menu-item-icon-line-height: 1 !default;
$o-overlay-menu-item-icon-border-radius: 6px !default;

// = Overlay Menu Toggler Variables
// ============================================================================
$o-overlay-menu-toggler-font-size: inherit !default;
