<?xml version="1.0" encoding="utf-8"?>
<odoo noupdate="0">
    <!-- Technical -->
    <menuitem
        id="menu_mail_template_ai_model"
        parent="base.menu_email"
        action="action_mail_template_ai_model"
        sequence="10"
    />

    <menuitem
        id="menu_mail_template_ai_config"
        parent="base.menu_email"
        action="action_mail_template_ai_config"
        sequence="10"
    />
</odoo>
