// = Navbar Root Menu
// ============================================================================

.o_menu_systray--root-menu {
    .dropdown-item {
        padding-left: 0;
        padding-right: 0;
        margin-top: -16px;
        margin-bottom: -16px;
        display: flex;
        align-items: center;
    }
}

.o-navbar-root-menu-nav {
    --Dropdown_menu-margin-y: 0;

    display: flex;
    min-width: min-content;
    height: $o-navbar-root-menu-height;
    padding-top: $o-navbar-root-menu-padding-top;
    padding-bottom: $o-navbar-root-menu-padding-bottom;
    padding-left: $o-navbar-root-menu-padding-h;
    padding-right: $o-navbar-root-menu-padding-h;
    border-bottom: $o-navbar-root-menu-border-bottom solid $border-color;
    background: $o-navbar-root-background;
    font-size: $o-navbar-font-size;

    // = Reset browsers defaults
    // --------------------------------------------------------------------------
    > ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    // = General components & behaviours
    // --------------------------------------------------------------------------

    .dropdown-item.o_nav_entry,
    .dropdown-toggle {
        --NavBar-entry-margin-left: #{$o-navbar-root-menu-entry-margin-h};
        --NavBar-entry-margin-right: #{$o-navbar-root-menu-entry-margin-h};
        --NavBar-entry-padding-left: #{$o-navbar-root-menu-entry-padding-h};
        --NavBar-entry-padding-right: #{$o-navbar-root-menu-entry-padding-h};

        @extend %-main-navbar-entry-base;
        @extend %-main-navbar-entry-spacing;
        border-color: transparent;
        padding-top: $o-navbar-root-menu-entry-padding-v;
        padding-bottom: $o-navbar-root-menu-entry-padding-v;
        border: none;
        border-radius: 0;
        height: 100%; // Force the height to align toggles and items with the forced height of nav

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        // Override Navbar Entry Base with custom text color
        @include o-hover-text-color(
            var(--NavBar-entry-color, #{$o-navbar-root-menu-entry-color}),
            var(--NavBar-entry-color--hover, #{$o-navbar-root-menu-entry-color--hover})
        );

        background-color: $o-navbar-root-menu-entry-bg;

        &:hover,
        &:focus,
        &.focus {
            background-color: $o-navbar-root-menu-entry-bg--hover;
        }

        &:after {
            position: absolute;
            display: block;
            left: 0;
            bottom: 0;
            margin-bottom: -$o-navbar-root-menu-border-bottom;
            width: 100%;
            height: $o-navbar-root-menu-entry-border-bottom-width;
            margin-left: 0;
            border: none;
            content: '';
            background-color: transparent;
        }
    }

    // Active
    .o_nav_entry--active {
        &.dropdown-item.o_nav_entry,
        .dropdown-toggle {
            font-weight: $o-navbar-root-menu-entry-font-weight--active;
            color: var(--NavBar-entry-color--active, #{$o-navbar-root-menu-entry-color--active});
            background-color: $o-navbar-root-menu-entry-bg--active;

            &:after {
                background-color: $o-navbar-root-menu-entry-border-bottom-color--active;
            }
        }
    }

    // Hover
    .dropdown-item.o_nav_entry,
    .dropdown-toggle {
        &:hover,
        &:focus {
            background-color: $o-navbar-root-menu-entry-bg--hover;

            &:after {
                background-color: $o-navbar-root-menu-entry-border-bottom-color--hover;
            }
        }
    }

    .show .dropdown-toggle {
        &:after {
            background-color: $o-navbar-root-menu-entry-border-bottom-color--hover;
        }
    }

    // Dropdown Menu
    .dropdown-menu {
        border-top-left-radius: $o-navbar-root-menu-dropdown-menu-border-top-radius;
        border-top-right-radius: $o-navbar-root-menu-dropdown-menu-border-top-radius;

        .disabled {
            cursor: default;
        }
    }

    .dropdown-header.dropdown-menu_group {
      margin-top: 0;
    }

    .dropdown-item + .dropdown-header:not(.o_more_dropdown_section_group) {
      margin-top: .3em;
    }

    .o_dropdown_menu_group_entry.dropdown-item {
        padding-left: $o-dropdown-hpadding * 1.5;

        + .dropdown-item:not(.o_dropdown_menu_group_entry) {
            margin-top: .8em;
        }
    }

    // = Navbar Sections & Children
    // --------------------------------------------------------------------------

    .o_menu_sections {
        .o_more_dropdown_section_group {
            margin-top: .8em;

            &:first-child {
                margin-top: $dropdown-padding-y * -1;
                padding-top: $dropdown-padding-y * 1.5;
            }
        }
    }
}

// = Website
// ============================================================================

.editor_has_snippets_hide_backend_navbar {
    .o-navbar-root-menu-nav {
        display: none !important;
    }
}
