// = Navbar Variables
// ============================================================================
$o-navbar-root-menu-border-bottom: 1px solid $o-border-color !default;
$o-navbar-root-menu-padding-top: 5px !default;
$o-navbar-root-menu-padding-bottom: 0 !default;

$o-navbar-root-menu-entry-margin-h: 0 !default;
$o-navbar-root-menu-entry-padding-h: 10px !default;
$o-navbar-root-menu-entry-padding-v: 10px !default;
$o-navbar-root-menu-entry-border-bottom-width: 4px !default;
$o-navbar-root-menu-entry-color: #18181b !default;
$o-navbar-root-menu-entry-color--hover: $o-gray-700 !default;

$o-navbar-root-menu-entry-hover-border-bottom-color: rgba(0, 0, 0, 0.08) !default;
$o-navbar-root-menu-entry-active-border-bottom-color: $o-brand-primary !default;

$o-navbar-root-menu-dropdown-menu-border-top-radius: 0 !default;
