// = Drawer Variables
// ============================================================================
$o-drawer-header-padding-x: 1rem !default;
$o-drawer-header-margin-top: $o-drawer-header-padding-x !default;

$o-drawer-header-user-block-padding: 0.75rem !default;
$o-drawer-header-user-block-border: none !default;
$o-drawer-header-user-avatar-size: 40px !default;
$o-drawer-header-user-font-size: 1rem !default;
$o-drawer-header-user-block-bg: $o-gray-100 !default;
$o-drawer-header-user-block-bg-hover: $o-gray-200 !default;
$o-drawer-header-user-block-color: $o-gray-800 !default;
$o-drawer-header-user-avatar-radius: 0 !default;

$o-drawer-header-action-margin: 1rem !default;
$o-drawer-header-action-btn-bg: $o-drawer-header-user-block-bg !default;
$o-drawer-header-action-btn-border: $o-drawer-header-user-block-border !default;
$o-drawer-header-action-btn-color: $o-drawer-header-user-block-color !default;
$o-drawer-header-action-btn-hover-color: $o-black !default;
$o-drawer-header-action-btn-size: 40px !default;
$o-drawer-header-action-btn-font-size: 1rem !default;
$o-drawer-badge-counter-size: 18px !default;

$o-drawer-messages-block-bg: $o-drawer-bg !default;
$o-drawer-header-messages-block-width: 320px !default;

$o-drawer-menu-margin-v: 0.5rem !default;
$o-drawer-menu-padding-h: 1rem !default;

$o-drawer-header-activity-btn-color: $o-gray-800 !default;
$o-drawer-header-activity-btn-border: 1px solid $border-color !default;
$o-drawer-header-activity-btn-border-hover: 1px solid $border-color !default;
$o-drawer-header-activities-block-width:320px !default;
$o-drawer-activity-title-color: $o-gray-800 !default;