// Form sheet
// Exclude global modal and modal in action manager
.o_action_manager {
    .o_form_view {
        &:not(.modal-content) {
            .o_form_sheet_bg {
                @include media-breakpoint-up(md) {
                    padding: 0;
                }
            }
        }
    }
    .o_field_section_and_note_text.o_field_text > div {
        width: 100%;
    }
}

// Form view
.o_form_view {
    // Group
    .o_inner_group {
        gap: 4px $o-horizontal-padding;
    }

    .o_form_view_container {
        @extend .o_form_sheet;
    }

    // Statusbar
    .o_form_statusbar {
        padding: 0;
        margin-top: 0;
    }

    // Vertical group fields
    .o_group {
        justify-content: start;

        .o_group_row {
            .o_wrap_label {
                &.text-900 {
                    color: $form-label-color; // Reset form label color
                }
            }
        }
    }

    // Label field
    .o_group .o_wrap_label .o_form_label,
    .o_checkbox_optional_field > .o_form_label,
    .o_form_label {
        font-weight: 400;
        font-size: 0.9rem;
    }

    // Field widgets
    .o_form_sheet {
        .o_field_widget {
            padding: 8px;
            border: 1px solid $o-gray-200;
            border-radius: $input-border-radius;
            margin-bottom: 16px;
            min-height: 40px;

            &.o_field_empty {
                display: flex;
                align-items: start;
            }

            &.o_field_boolean,
            &.o_field_radio {
                &:not(:first-child) {
                    padding-left: 1rem;
                }
            }

            // Edit and delete buttons in hover of image field
            &.o_field_image {
                &,
                img {
                    border-radius: $o-border-radius;
                }
            }

            // Remove native negative margin top for many2many tags avatar
            &.o_field_many2many_tags_avatar {
                margin-top: 0;
            }

            // Remove double border and double padding on dropdown
            > .o-dropdown {
                margin: -8px;

                .dropdown-toggle {
                    padding: 8px;
                    border: none;
                    border-radius: $o-border-radius*1.2 !important;
                }
            }

            // Remove native padding on inputs
            .o_input {
                padding: 0;
            }

            // Remove native border bottom on inputs
            &:not(.o_field_domain) {
                .odoo-editor-editable,
                .o_input,
                input,
                textarea {
                    &:not([type="checkbox"]):not([type="radio"]) {
                        border-bottom: none !important;
                    }
                }
            }

            &.o_field_domain {
                .odoo-editor-editable,
                .o_input,
                input,
                textarea {
                    &:not(:hover):not(:focus) {
                        border-color: $o-gray-200;
                    }
                }
            }

            // Hover and focus style
            &:not(.o_readonly_modifier) {
                &:hover,
                &:focus-within {
                    border-color: $o-gray-400 !important;
                }
            }

            // Remove margin bottom
            &.o_field_handle,
            .o_field_widget {
                margin-bottom: 0;
            }

            // Remove border and padding for specific field widgets
            &.o_field_boolean,
            &.o_field_radio,
            &.o_field_image,
            &.o_field_priority,
            &.o_field_priority_switch,
            &.o_field_selection_badge,
            &.o_field_boolean_toggle,
            &.o_field_statusbar,
            &.o_field_statusbar_duration,
            &.o_field_one2many,
            &.o_field_many2many,
            &.o_field_many2many_checkboxes,
            .o_field_widget {
                border: none;
                padding: 0;
                display: inline-flex;
                align-items: center;
            }

            // Remove all outline field style
            &.o_field_payment,
            &.o_field_properties,
            &.o_field_auto_save_res_partner,
            &.o_field_account-tax-totals-field,
            .o_field_widget {
                border: none;
                border-radius: inherit;
                padding: inherit;
                margin-bottom: 0;
                min-height: auto;
            }

            // Remove min-height
            .o_field_x2many {
                .o_field_widget {
                    min-height: auto;
                }
            }
        }

        // Widget field in title
        .h6 {
            > .o_field_widget {
                padding-top: 2px;
                padding-bottom: 2px;
                min-height: auto;
            }
        }

        // Inline button link
        .o_form_label.d-inline-block {
            + .btn-link.d-inline-block {
                line-height: normal;
                margin-right: 3px;
            }
        }
    }

    // Field widget many2one avatar
    .o_field_widget.o_field_many2one_avatar {
        --fieldWidget-display: initial;
    }

    // Field widget after field image
    .o_field_image {
        + .o_field_widget {
            border: none;
            border-radius: inherit;
            padding: inherit;
            margin-bottom: 0;
            min-height: auto;
        }
    }

    // Field widgets in title
    .oe_title {
        > h1,
        > .h1,
        > h2,
        > .h2,
        > h3,
        > .h3 {
            .o_field_widget {
                border-radius: 0;
                border-top: none;
                border-left: none;
                border-right: none;
                border-bottom-color: transparent;
                padding:0;min-height: auto;

                > .dropdown {
                    .dropdown-toggle {
                        line-height: 34px;
                    }
                }
            }
        }

        > .o_form_label {
            .o_field_widget {
                &.o_readonly_modifier {
                    border: none;
                    padding: 0;
                    margin: 0;
                    min-height: auto;
                }
            }
        }
    }

    .flat_field {
        .o_field_widget {
            border-radius: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom-color: transparent;
            padding: 0;
            min-height: auto;

            > .dropdown {
                .dropdown-toggle {
                    line-height: 34px;
                }
            }
        }

        .o_form_label {
            .o_field_widget {
                &.o_readonly_modifier {
                    border: none;
                    padding: 0;
                    margin: 0;
                    min-height: auto;
                }
            }
        }
    }

    // Address fields
    // Override native form controller address format
    .o_form_editable .o_address_format {
        .o_address_state {
            width: 35%;
            margin-right: 0;
        }

        .o_address_zip {
            width: 23%;
            margin-right: 2%;
        }
    }

    // Use same style like form editable in readonly because field borders are always displayed
    .o_form_renderer:not(.o_form_editable) .o_address_format {
        .o_address_city {
            display: inline-block;
            width: 38%;
            margin-right: 2%;
        }

        .o_address_state {
            display: inline-block;
            width: 35%;
            margin-right: 0;
        }

        .o_address_zip {
            display: inline-block;
            width: 23%;
            margin-right: 2%;
        }

        &.o_zip_city {
            .o_address_zip {
                width: 38%;
                margin-right: 2%;
            }

            .o_address_city {
                width: 60%;
                margin-right: 0;
            }

            .o_address_state {
                width: 100%;
                margin-right: 0;
            }
        }

        &.o_city_state {
            .o_address_city {
                width: 50%;
            }

            .o_address_state {
                width: 48%;
                margin-right: 0;
            }

            .o_address_zip {
                width: 100%;
            }
        }
    }

    // Image field
    .o_field_image {
        button {
            display: flex;
            align-items: center;
        }
    }

    // Notebook
    .o_notebook {
        .nav {
            padding-left: 0;
            padding-right: 0;
        }

        > .tab-content {
            > .tab-pane {
                > :first-child {
                    &:not(.o_group),
                    &.o_invisible_modifier {
                        .o_field_x2many.o_field_x2many_list {
                            .o_list_renderer {
                                margin-left: 0;
                                margin-right: 0;
                            }
                        }
                    }
                }

                > .o_group.row {
                    overflow-x: clip;
                }
            }
        }
    }

    // List
    .o_form_sheet {
        &,
        .o_field_widget .o_field_widget {
            .o_field_cell {
                > .o_field_widget {
                    padding: 0;
                }
            }
        }
    }

    // Group Resume and Skills
    .o_group_resume,
    .o_group_skills {
        > .o_field_widget {
            padding: 0;
            border: none;

            > .o_list_view {
                > .o_list_renderer {
                    border: none;
                    margin-top: 0 !important;
                }
            }
        }
    }
}
