$o-pyper-map-marker-color: $o-brand-secondary !default;
$o-pyper-map-marker-selected-color: $o-info !default;
$o-pyper-map-marker-number-color: white !default;
$o-pyper-map-marker-number-font-size: 14px !default;
$o-pyper-map-marker-number-margin-top: 6px !default;
